{% comment %}
  Renders a product card

  Accepts:
  - product_card_product: {Object} Product Liquid object

  Usage:
  {% render 'product-card', product_card_product: product %}
{% endcomment %}

<div class="product-card{% if product_card_product.media[1] != nil %} has-animation{% endif %}">
  <a href="{{ product_card_product.url | split: '?' | first }}">
    <div class="product-card__image">
      {% render 'lazy-image', image: product_card_product.featured_media, fade: false, classes: 'img-fill',  aria-label:"Product image" %}
      {% if product_card_product.media[1] != null %}
        {% render 'lazy-image', image: product_card_product.media[1], fade: false, classes: 'img-fill',  aria-label:"Product image" %}
      {% endif %}

      {% assign lowercase_tags = product_card_product.tags | join: '~~~' | downcase | split: '~~~' %}
      <div class="product-card__image-label body-xs">
        {% if lowercase_tags contains 'indoor' and lowercase_tags contains 'outdoor' %}
          Indoor/Outdoor
        {% elsif lowercase_tags contains 'indoor' %}
          Indoor
        {% elsif lowercase_tags contains 'outdoor' %}
          Outdoor
        {% endif %}
      </div>
    </div>
  </a>
  <div class="product-card__container">
    <p class="product-card__title">{{ product_card_product.title }}</p>
    <div class="product-card__content">

      {% assign enable_auto_discount_price = settings.enable_auto_discount_price %}
      {% assign auto_discount_price = product_card_product.metafields.custom.auto_discount_price %}
      {% assign show_discounted_price = false %}
      {% if enable_auto_discount_price and auto_discount_price > 0 %}
        {% assign show_discounted_price = true %}
        {% assign auto_discount_price = auto_discount_price | times: 100 |  money %}
      {% endif %}

      {% if customer and customer.b2b? %}
        {% assign trade_pricing_discount_percentage = settings.trade_pricing_discount_percentage | times: 1 %}
        {% assign increase_amount = product_card_product.price | times: trade_pricing_discount_percentage | divided_by: 100 %}
        {% assign original_price = product_card_product.price | plus: increase_amount %}

        <p class="product-card__price">
          {% if original_price > 0 %}
            <span class="old-price">{{ original_price | money_without_trailing_zeros }}</span>
          {% endif %}
          {{ product_card_product.price | money_without_trailing_zeros }}
        </p>
      {% else %}
        {% if show_discounted_price %}
          <p class="product-card__price">
            <span class="old-price">{{ product_card_product.price | money_without_trailing_zeros }}</span>
            {{ auto_discount_price }}
          </p>
        {% else %}
          <p class="product-card__price">
            {% if product_card_product.compare_at_price > product_card_product.price %}
              <span class="old-price">{{ product_card_product.compare_at_price | money_without_trailing_zeros }}</span>
            {% endif %}
            {{ product_card_product.price | money_without_trailing_zeros }}
          </p>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
