<div class="product__zoom">
  <div class="product__zoom-slider-wrapper">
    <div class="product__zoom-slider swiper">
      <div class="swiper-wrapper">
        {% for media in product.media %}
          <div class="product__zoom-item swiper-slide" data-media-id="{{ section.id }}-{{ media.id }}">
            {% render 'product-media', media: media, position: forloop.index, zoom: false %}
          </div>
        {% endfor %}
      </div>
      <div class="product__zoom-button swiper-button-prev"></div>
      <div class="product__zoom-button swiper-button-next"></div>
    </div>
  </div>

  <div class="product__zoom-thumbnails hide-mobile">
    <div class="product__media-thumbnails-zoom list-unstyled swiper" role="list">
      <div class="swiper-wrapper">
        {% for media in product.media %}
          <div class="product__media-thumbnail-item swiper-slide" data-media-id="{{ section.id }}-{{ media.id }}">
            {% render 'product-media', media: media, position: forloop.index, width: '106' %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <button class="close-zoom" aria-label="zoom close" data-close-zoom>
    {% render 'icon', icon: 'close' %}
    <span class="sr-only">zoom close</span>
  </button>
</div>

<style>
  .product__media-zoom {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: url('{{ "cursor-zoom.svg" | asset_url }}'), auto;
  }

  .product__zoom {
    cursor: url('{{ "cursor-close.svg" | asset_url }}'), auto;
  }
</style>
