{% liquid
  assign color_label = 'color,colour,couleur,colore,farbe,색,色,färg,farve' | split: ','
  assign collection_title = collection.title | downcase
  capture color_swatch_list
    assign swatch_count = 1
    assign hidden_swatches = 0
    for product in collection.products
      for option in product.options_with_values
        assign option_name = option.name | downcase
        if color_label contains option_name or option_name == 'style'
          assign option_index = 'option' | append: forloop.index
          for value in option.values
            assign matched_variant = product.variants | where: 'title', value
            
            if product == product_card_product
              assign active_swatch = product
              if matched_variant != blank
                assign active_swatch_link = matched_variant[0].url
              endif

              assign element_classes = element_classes | append: ' product-card__active-swatch'
              assign active_swatch_file_name = value | remove: "(" | remove: ")" | handle | append: '.png'
              assign active_swatch_tooltip_value = value
            else
              if matched_variant != blank
                assign swatch_link = matched_variant[0].url
              endif

              if swatch_count > 3
                assign element_classes = 'product-card__swatch hidden'
                assign hidden_swatches = hidden_swatches | plus: 1
              else
                assign element_classes = 'product-card__swatch'
              endif

              assign swatch_file_name = value | remove: "(" | remove: ")" | handle | append: '.png'
              assign swatch_image = images[swatch_file_name]

              echo "<a href='"
              echo swatch_link | default: product.variants[0].url
              echo "' class='"
              echo element_classes
              echo "'"
              echo " aria-label='"
              echo value | escape
              echo "'"
              echo "style='background-image: url("
              echo swatch_file_name | file_img_url: '60x60'
              echo ")' aria-label='Color swatcher' data-tooltip='"
              echo value | escape
              echo "'></a>"
              assign swatch_count = swatch_count | plus: 1
            endif
          endfor
        endif
      endfor
    endfor
    if hidden_swatches > 0
      echo '<button data-hidden-swatches class="body-xs blue">'
      echo '+'
      echo hidden_swatches
      echo ' more'
      echo '</button>'
    endif
  endcapture
%}

<grouped-product-card data-collection-id="{{collection.id}}">
  <div class="product-card {% if simple_card == true %}product-card-simple{% endif %}">
    {% comment %}
      <div class="product-card__image">
        <div class="swiper product-card__image-swiper">
          <div class="swiper-wrapper">
            {% for i in product_card_product.images %}
              <div class="swiper-slide">
                {% render 'lazy-image', image: i, fill: true %}
              </div>
            {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
        </div>

        {% if product_card_product.compare_at_price > product_card_product.price %}
          {% assign price_change = product_card_product.compare_at_price | minus: product_card_product.price %}
          {% assign percent_discount = price_change | times: 100 | divided_by: product_card_product.compare_at_price %}
        <div class="product-card__discount-flag">
          <div class="product-card__discount-amount">{{ percent_discount }} <span>%</span></div>
          <span>off</span>
        </div>
        {% endif %}
      </div>
    {% endcomment %}
    <div class="product-card__image">
      <a href="{{ product_card_product.url }}">
        {% comment %}
        {% render 'lazy-image', image: product_card_product.featured_media, fade: true, classes: 'img-fill', aria-label: "Product image", widthI: 500, heightI: 500 %}
        {% endcomment %}
        {% if custom_image != blank %}
          {% render 'lazy-image', image: custom_image, fade: true, classes: 'img-fill', aria-label: "Custom product image", widthI: 320, heightI: 320 %}
        {% elsif product_card_product.media[1] != null %}
          {% render 'lazy-image', image: product_card_product.media[1], fade: true, classes: 'img-fill', aria-label: "Product image", widthI: 500, heightI: 500 %}          
        {% endif %}
      

        {% if product_card_product.selected_or_first_available_variant.metafields.custom.last_chance_price.value != blank and product_card_product.price > product_card_product.selected_or_first_available_variant.metafields.custom.last_chance_price.value %}
          {% assign price_change = product_card_product.price | minus: product_card_product.selected_or_first_available_variant.metafields.custom.last_chance_price.value %}
          {% assign percent_discount = price_change | times: 100 | divided_by: product_card_product.price %}
        <!-- <div class="product-card__discount-flag">
          <div class="product-card__discount-amount">{{ percent_discount }} <span>%</span></div>
          <span>off</span>
        </div> -->
        {% endif %}
      </a>
    </div>
    {% assign lowercase_tags = product_card_product.tags | join: '~~~' | downcase | split: '~~~' %}

        <div class="product-card__image-label body-xs {% if template.suffix == 'last-chance' %}hidden{% endif %}">
          {% if product_card_product.first_available_variant.metafields.custom.use != blank %}
            {{ product_card_product.first_available_variant.metafields.custom.use }}
          {% elsif lowercase_tags contains 'indoor' and lowercase_tags contains 'outdoor' %}
            Indoor/Outdoor
          {% elsif lowercase_tags contains 'indoor' %}
            Indoor
          {% elsif lowercase_tags contains 'outdoor' %}
            Outdoor
          {% endif %}
        </div>
    {% if simple_card == true %}<div>{% endif %}

    {% if template.suffix == 'last-chance' %}
      <div class="product-card__type-label body-xs">
        {% if product_card_product.first_available_variant.metafields.custom.use != blank %}
          {{ product_card_product.first_available_variant.metafields.custom.use }}
        {% elsif lowercase_tags contains 'indoor' and lowercase_tags contains 'outdoor' %}
          Indoor/Outdoor
        {% elsif lowercase_tags contains 'indoor' %}
          Indoor
        {% elsif lowercase_tags contains 'outdoor' %}
          Outdoor
        {% endif %}
      </div>
    {% endif %}

    {% if title != blank or collection.title != blank %}
      <a href="{{ product_card_product.url }}">
        <div class="product-card__title h3 blue">
          {{ title | default: collection.title | replace: ' | ', '<br>' }}
          <span class="body {% if product_card_product.handle contains 'ii' %}no-capitalize{% endif %}">{{ product_card_product.options_by_name['color'].values[0] }}</span>
          {% comment %} {%- if collection.metafields.custom.dimensions != blank -%}
            <span class="body">({{ collection.metafields.custom.dimensions }})</span>
          {%- endif -%} {% endcomment %}
        </div>
      </a>
    {% endif %}
    {% if customer and customer.b2b? %}
      <p class="product-card__price body blue">
        {% assign original_price = product_card_product.selected_or_first_available_variant.metafields.custom.variant_original_sale_price | times: 100 %}
        {% if original_price > 0 %}
          <span class="old-price">{{ original_price | money_without_trailing_zeros }}</span>
          <span>{{ product_card_product.price | money_without_trailing_zeros }}</span>
        {% else %}
          <span>{{ product_card_product.price | money_without_trailing_zeros }}</span>
        {% endif %}        
      </p>
    {% else %}
      <p class="product-card__price body blue">
        {% if product_card_product.selected_or_first_available_variant.metafields.custom.last_chance_price.value != blank and product_card_product.price > product_card_product.selected_or_first_available_variant.metafields.custom.last_chance_price.value %}
          <span class="old-price">{{ product_card_product.price | money_without_trailing_zeros }}</span>
          <span>{{ product_card_product.selected_or_first_available_variant.metafields.custom.last_chance_price.value | money_without_trailing_zeros }}</span>
        {% else %}
          <span>{{ product_card_product.price | money_without_trailing_zeros }}</span>
        {%  endif  %}
      </p>
    {% endif %}

    {% unless template.suffix == 'last-chance' %}
    <div class="product-card__swatches">
      {% if active_swatch != blank %}
        <a href="{{ active_swatch_link | default: active_swatch.variants[0].url }}" data-tooltip="{{ active_swatch_tooltip_value }}" class="product-card__swatch" aria-label="{{ active_swatch_tooltip_value }}" style="background-image: url({{ active_swatch_file_name | file_img_url: '60x60' }})"></a>
      {% endif %}
      {{ color_swatch_list }}
    </div>
    {% endunless %}

    {% if collection.metafields.custom.short_description != blank %}
      {% unless simple_card == true %}
        <div class="product-card__description body" {% unless template.suffix == "last-chance" %}style="display: none;{% endunless %}">
          {{ collection.metafields.custom.short_description }}

          {%- if collection.metafields.custom.dimensions != blank and template.suffix == 'last-chance' -%}
            <div class="body product-card__dimensions">({{ collection.metafields.custom.dimensions }})</div>
          {%- endif -%}
        </div>
      {% endunless %}
    {% endif %}

    {% if template.suffix == 'last-chance' %}
      <div>
<!--         <div class="product-card__urgency">Only {{ product_card_product.selected_or_first_available_variant.inventory_quantity }} products left!</div> -->
      <button data-quick-add class="product-card__quick-add button" data-variant="{{ product_card_product.selected_or_first_available_variant.id }}">
        <span>Add to Cart</span>
        <div class="loading-overlay__spinner">
          <svg
            aria-hidden="true"
            focusable="false"
            role="presentation"
            class="spinner"
            viewBox="0 0 66 66"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
          </svg>
        </div>
      </button>
      </div>
    {% else %}
      <a href="{{ product_card_product.url }}" class="text-link gold-secondary--dark product-card__link">
       {% if button_text == blank %}Shop Now{% else %}{{ button_text }}{% endif %} <span> <svg xmlns="http://www.w3.org/2000/svg" width="29" height="16" viewBox="0 0 29 16" fill="none">
                  <path d="M28.7071 8.70711C29.0976 8.31658 29.0976 7.68342 28.7071 7.29289L22.3431 0.928932C21.9526 0.538408 21.3195 0.538408 20.9289 0.928932C20.5384 1.31946 20.5384 1.95262 20.9289 2.34315L26.5858 8L20.9289 13.6569C20.5384 14.0474 20.5384 14.6805 20.9289 15.0711C21.3195 15.4616 21.9526 15.4616 22.3431 15.0711L28.7071 8.70711ZM0 9H28V7H0V9Z" fill="#A19377"/>
                  </svg>
                  </span></a>
    {% endif %}
  {% if simple_card == true %}</div>{% endif %}
  </div>
</grouped-product-card>