{% comment %}
  Renders a product card

  Accepts:
  - product_card_product: {Object} Product Liquid object

  Usage:
  {% render 'product-card', product_card_product: product %}
{% endcomment %}

<div class="product-card{% if product_card_product.media[1] != nil %} has-animation{% endif %}">
  <a href="{{ product_card_product.url | split: '?' | first }}">
    <div class="product-card__image">
      {% render 'lazy-image', image: product_card_product.featured_media, fade: false, classes: 'img-fill',  aria-label:"Product image" %}
      {% if product_card_product.media[1] != null %}
        {% render 'lazy-image', image: product_card_product.media[1], fade: false, classes: 'img-fill',  aria-label:"Product image" %}
      {% endif %}

      {% assign lowercase_tags = product_card_product.tags | join: '~~~' | downcase | split: '~~~' %}
      <div class="product-card__image-label body-xs">
        {% if lowercase_tags contains 'indoor' and lowercase_tags contains 'outdoor' %}
          Indoor/Outdoor
        {% elsif lowercase_tags contains 'indoor' %}
          Indoor
        {% elsif lowercase_tags contains 'outdoor' %}
          Outdoor
        {% endif %}
      </div>
    </div>
  </a>
  <div class="product-card__container">
    <p class="product-card__title">{{ product_card_product.title }}</p>
    <div class="product-card__content">
      {% if customer and customer.b2b? %}
        {% assign original_price = product_card_product.selected_or_first_available_variant.metafields.custom.variant_original_sale_price | times: 100 %}
        <p class="product-card__price">
          {% if original_price > 0 %}
            <span class="old-price">{{ original_price | money_without_trailing_zeros }}</span>
          {% endif %}
          {{ product_card_product.price | money_without_trailing_zeros }}
        </p>
      {% else %}
        <p class="product-card__price">
          {% if product_card_product.compare_at_price > product_card_product.price %}
            <span class="old-price">{{ product_card_product.compare_at_price | money_without_trailing_zeros }}</span>
          {% endif %}
          {{ product_card_product.price | money_without_trailing_zeros }}
        </p>
      {% endif %}
    </div>
  </div>
</div>
