{{ 'customer-gate.css' | asset_url | stylesheet_tag }}

<div class="customer-gate reset">
  <div class="page-width">
    <div class="customer-gate__container">

      <h1 class="customer-gate__title h3">{{ 'customer.reset_password.title' | t }}</h1>
      <p class="customer-gate__text">{{ 'customer.reset_password.subtext' | t: email: email }}</p>

      {% form 'reset_customer_password' %}

        <div class="field"> 
          <label class="field__label" for="password">
            {{ 'customer.reset_password.password' | t }}
          </label>     
          <input
            class="field__input"
            type="password"
            name="customer[password]"
            id="password"
            autocomplete="new-password"
            {% if form.errors contains 'password' %}
              aria-invalid="true"
              aria-describedby="password-error"
            {% endif %}
            placeholder="{{ 'customer.reset_password.password' | t }}"
          >
        </div>

        <div class="field">      
          <label class="field__label" for="password_confirmation">
            {{ 'customer.reset_password.password_confirm' | t }}
          </label>
          <input
            class="field__input"
            type="password"
            name="customer[password_confirmation]"
            id="password_confirmation"
            autocomplete="new-password"
            {% if form.errors contains 'password_confirmation' %}
              aria-invalid="true"
              aria-describedby="password_confirmation-error"
            {% endif %}
            placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
          >
        </div>

        {% if form.errors %}
          <div class="form__message">{{ form.errors | default_errors }}</div>
        {% endif %}

        <button class="customer-gate__button button button--full">Submit</button>
      {% endform %}
    </div>
  </div>
</div>
