{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}
{{ 'component-article-card.css' | asset_url | stylesheet_tag }}

<div class="main-blog">
  {% paginate blog.articles by 6 %}
    
    {% if section.settings.section_heading != blank  %}
    <div class="main-blog-heading">
      <h1 class="blue">{{ section.settings.section_heading }}</h1>
    </div>
    {% endif %}  

    <div class="page-width">
      <div class="Blog_Landing_Articles">
        {% for article in blog.articles %}
          {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
          <div class="Blog_Landing_Article  {% if thecycle == 'odd' %}Blog_Landing_Article_Odd {% elsif thecycle == 'even'%}Blog_Landing_Article_Even{% endif %}">
            <div class="Blog_Landing_Article__Wrapper">
               <div class="Blog_Landing_Article_Image">
                 {% render 'lazy-image', image: article.image, fade: true, classes: 'img-fill' %}
               </div>
               <div class="Blog_Landing_Article_Container">
                 <span class="divider">{% render 'divider' %}<span class="divider-line"></span></span>
                 <div class="Blog_Landing_Article_Content">
                    <p class="article-card__date body-xs blue">{{ article.published_at | time_tag: '%m.%d.%Y' }}</p>
                    <h2 class="article-card__title blue">{{ article.title }}</h3>
                    <div class="article-card__text body blue">{{ article.excerpt | default: article.content | truncatewords: 50 | strip_html }}</div>
                    <a href="{{ article.url }}" class="text-link gold article-card__link">Read More ></a>
                 </div>
                 <span class="divider"><span class="divider-line"></span> {% render 'divider' %}</span>
               </div>
            </div>
          </div>
        {% endfor %}
      </div>

      {% if paginate.pages > 1 %}
        {% render 'pagination', paginate: paginate %}
      {% endif %}
    </div>
  {% endpaginate %}
</div>

{% schema %}
  {
    "name": "Blog Landing",
    "tag": "section",
    "class": "Blog_Landing",
    "settings": [
       {
         "type": "text",
         "id": "section_heading",
         "label": "Section Heading"
       }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}