{{ 'section-styling-tips.css' | asset_url | stylesheet_tag }}
{{ 'section-blue-background.css' | asset_url | stylesheet_tag }}


  <section class="blue-background styling-tips">
    <div class="styling-tips__background">
      <div class="styling-tips__inner styling-tips__layout-left">
        <div class="">
          {% if section.settings.heading != blank %}
            <h2 class="hide-mobile styling-tips__heading">{{ section.settings.heading }}</h2>
          {% endif %}

          <div class="list__container">
              {% for block in section.blocks %}
                {% if block.type == 'list-item' %}
                <div class="list__container-item">
                  <p class="list-number">{{ forloop.index }}</p>
                  <div class="list__container-text">
                    <p class="title-text">{{ block.settings.title }}</p>
                    <p class="text">{{ block.settings.text }}</p>
                  </div>
                </div>
                {% endif %}
              {% endfor %}
          </div>
        </div>

        <div class="styling-tips__image-wrapper">
          {% if section.settings.heading != blank %}
            <h2 class="hide-desktop styling-tips__heading">{{ section.settings.heading }}</h2>
          {% endif %}
          <div class="styling-tips__images swiper">
            <div class="swiper-wrapper">
              {% for block in section.blocks %}
                {% if block.type == 'image-item' %}
                <div class="swiper-slide">
                  <div class="styling-tips__image-item">
                    {% render 'lazy-image', image: block.settings.image, fade: false, fill: true %}
                  </div>
                </div>
                {% endif %}
              {% endfor %}
            </div> 
            <div class="slider-directional">
              <div class="swiper-button-prev"></div>
              <div class="swiper-pagination"></div>
              <div class="swiper-button-next"></div>
            </div>
         </div>
        </div>
      </div>
    </div>
  </section>


{% javascript %}
  const stylingTipsImages = new Swiper('.styling-tips__images', {
    slidesPerView: 1,
    loop: true,
    autoplay: {
      delay: 2000,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    pagination: {
      el: ".swiper-pagination",
    },
  });
{% endjavascript %}

{% schema %}
{
  "name": "Background List Image",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "Image with signature"
    },
    {
      "type": "paragraph",
      "content": "Our founder Stafford's styling tips"
    }
  ],
  "blocks": [
  {
   "type": "list-item",
   "name": "list Item",
   "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Enter type"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      }     
    ]
  },
 {
   "type": "image-item",
   "name": "Image Item",
   "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }     
    ]
  }  
],
  "presets": [
    {
      "name": "Background List Image"
    }
  ]
}
{% endschema %}
