<cart-drawer>
  <div class="cart-drawer" id="cart-drawer" aria-hidden="true" aria-modal="true" aria-label="Cart Drawer" role="dialog" tabindex="-1">
    <form id="cart-drawer__form" action="{{ routes.cart_url }}" method="post" class="cart-drawer__form">
      <div class="cart-drawer__inner">
        <div class="cart-drawer__header">
          <p class="cart-drawer__title h2">{{ section.settings.cart_title }}</p>
          <button type="button" class="cart-drawer__close modal__close-button link link--text focus-inset" id="cart-drawer__close" aria-label="{{ 'accessibility.close' | t }}">
            {% render 'icon' icon: 'close' %}
          </button>
        </div>
        <div class="cart-drawer__content" id="cart-drawer__content" data-id="{{ section.id }}">
          {% if cart.items.size == 0 %}
            <div class="cart-drawer__empty">
              <h3>{{ section.settings.empty_text | default: "Your cart is empty." }}</h3>
              <a href="{{ section.settings.button | default: "/>" }}" class="button">{{ section.settings.button_text | default: "Shop All" }}</a>
            </div>
          {% else %}
            <div class="cart-drawer__items" id="cart-drawer-items">
              {% assign porter_product_found = false %}
              {% assign gift_wrap_product_found = false %}
              {% assign gift_wrap_product = all_products[section.settings.gift_note_product] %}
              {% for item in cart.items %}
                {% if item.product.type == 'Porter' %}
                  {% assign porter_product_found = true %}
                {% endif %}
                {% if item.product.id == gift_wrap_product.id %}
                  {% assign gift_wrap_product_found = true %}
                {% endif %}
                {% render 'cart-item' item: item, idx: forloop.index %}
              {% endfor %}
              <div class="cart-drawer__rebuy">
                <div class="slider__product">
                  <div data-rebuy-id="{{ settings.rebuy_cart_widget_id }}"></div>
                </div>
              </div>
            </div>
            <div class="cart-drawer__footer">

              {% if section.settings.enable_gift_note and porter_product_found and gift_wrap_product != blank and gift_wrap_product_found == false %}
                  <div id="gift-wrap-option">
                    <input 
                      type="checkbox" 
                      id="add-gift-wrap" 
                      {% if gift_wrap_product_found %}checked{% endif %}
                    /> 
                    <label for="add-gift-wrap">
                      {% assign gift_note_price = gift_wrap_product.first_available_variant.price | money_without_trailing_zeros %}
                      {{ section.settings.checkbox_label_text | replace: '[price]', gift_note_price }}
                    </label>
                  </div>
               {% capture noteModal %}
                <div id="gift-note-modal">
                  <div class="gift-note-content">
                    <div class="gift-note__header">
                     <a id="close-gift-note" aria-label="Close">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 6L9 12L15 18" stroke="#444c39" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    </a>
                    <h3>{{ gift_wrap_product.title }}</h3>      
                    </div>
                    <div class="gift-note__image">
                      <img src="{{ gift_wrap_product.featured_image | image_url: width: 100 }}" alt="{{ gift_wrap_product.featured_image.alt }}" height="auto" width="auto">
                    </div>
                    <textarea 
                      id="gift-note-text" 
                      placeholder="ADD A GIFT NOTE" 
                      maxlength="250"
                      data-variant-id="{{ gift_wrap_product.first_available_variant.id }}"
                    ></textarea>
                    
                    <div class="char-count"><span>250</span> CHARACTERS LEFT</div>
                
                    {% if section.settings.note_button_text != blank %}<a id="add-gift-note-btn">{{ section.settings.note_button_text }}</a>{% endif %}
                    
                    {% if section.settings.gift_note != blank %}<p class="gift-wrap-note">{{ section.settings.gift_note }}</p>{% endif %}
                  </div>
                </div>
               {% endcapture %}           
              {% endif %}
              
              <div class="cart-drawer__subtotal-wrapper" id="cart-drawer-subtotal">
                <h4 class="body-sm">Subtotal</h4>
                <div class="cart-drawer__loading-container">
                  <h4 class="cart-drawer__subtotal">{{ cart.total_price | money_without_trailing_zeros }}</h4>
                  <div class="loading-overlay hidden" id="cart-drawer-loading">
                    <div class="loading-overlay__spinner">
                      <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                        <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
              <a href="/checkout" class="button button--full" name="checkout" form="cart">{{ 'sections.cart.checkout' | t }}</a>
              <h6 class="cart-drawer__taxes body-xs">{{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}</h6>


              <div class="cart-text-with-icon">
                <div class="icon-text-box">
                    <span>
                      <img src="https://cdn.shopify.com/s/files/1/0084/8602/7327/files/credit-card_1_1_150x.svg?v=1693988743" alt="icons" class="cart-rating-icons" loading="lazy" width="30" height="30"/>
                    </span>
                    <h6>Secured Payment</h6>
                  </div>
                  <div class="icon-text-box">
                    <span>
                     <img src="https://cdn.shopify.com/s/files/1/0084/8602/7327/files/feedback_1_150x.svg?v=1693988743" alt="icons" class="cart-rating-icons" loading="lazy" width="30" height="30"/>
                    </span>
                    <h6>Rated 4.9 by 1000+ Happy Customers</h6>
                  </div>
              </div>
            </div>
            {{ noteModal }}
          {% endif %}
        </div>
      </div>
    </form> 
  </div>
</cart-drawer>

{% schema %}
{
  "name": "Cart Drawer",
  "settings": [
    {
      "type": "text",
      "id": "cart_title",
      "label": "Cart Title",
      "default": "Your Cart"
    },
    {
      "type": "header",
      "content": "Empty Cart"
    },
    {
      "type": "text",
      "id": "empty_text",
      "label": "Empty cart message"
    },
    {
      "type": "url",
      "id": "button",
      "label": "Empty cart shop link"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Empty cart button text"
    },
    {
      "type": "header",
      "content": "Gift Note Feature"
    },
    {
      "type": "checkbox",
      "id": "enable_gift_note",
      "label": "Enable gift note feature for Porter products",
      "default": true
    },
    {
      "type": "product",
      "id": "gift_note_product",
      "label": "Gift note product"
    },
    {
      "type": "text",
      "id": "checkbox_label_text",
      "label": "Label text",
      "default": "Add Gift Wrap +[price]",
      "info": "Use [price] for dynamic price"
    },
    {
      "type": "text",
      "id": "note_button_text",
      "label": "Button text",
      "default": "ADD NOW"
    },
    {
      "type": "text",
      "id": "gift_note",
      "label": "Gift note",
      "default": "Gift wrapping only available on eligible orders."
    }
  ]
}
{% endschema %}