{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}
<script src="{{ 'contact-form.js' | asset_url }}" defer="defer"></script>

<div class="contact page-width spaced-section">
  <div class="Contact_Form">
    <h2 class="title text-center">{{ section.settings.heading }}</h2>
    {% if section.settings.subheading != blank %}
      <p class="text text-center">{{ section.settings.subheading }}</p>
    {% endif %}
    {% form 'contact' %}
      {% if form.posted_successfully? %}
        <div class="form-status form-status-list form__message" tabindex="-1" autofocus>
        <p class="body blue">{{ 'templates.contact.form.post_success' | t }}</p>
        </div>
      {% elsif form.errors %}
        <div class="form__message">
          <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
         <p class="body blue">{{ 'templates.contact.form.error_heading' | t }}
        </p></h2>
        </div>
      {% endif %}
      <div class="contact__fields" aria-describedby="required-fields-text">
        <div class="field">
          <input class="field__input" aria-label="Enter the Your First name and this field is Required" required type="text" id="ContactForm-name" name="contact[{{ 'templates.contact.form.first_name' | t }}]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="{{ 'templates.contact.form.first_name' | t }}*">
        </div>
        <div class="field">
          <input class="field__input" aria-label="Enter the Your Last name and this field is Required" required type="text" id="ContactForm-name" name="contact[{{ 'templates.contact.form.last_name' | t }}]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="{{ 'templates.contact.form.last_name' | t }}*">
        </div>
        <div class="field">
          <input class="field__input" autocomplete="name" type="text" id="ContactForm-name" name="contact[{{ 'templates.contact.form.organization_name' | t }}]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="{{ 'templates.contact.form.organization_name' | t }}">
        </div>
        <div class="field field--with-error">
          <input
            autocomplete="email"
            type="email"
            id="ContactForm-email"
            class="field__input"
            name="contact[email]"
            required
            spellcheck="false"
            autocapitalize="off"
            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
            aria-required="true"
            {% if form.errors contains 'email' %}
              aria-invalid="true"
              aria-describedby="ContactForm-email-error"
            {% endif %}
            placeholder="{{ 'templates.contact.form.email' | t }}*"
          >
          {% if form.errors contains 'email' %}
            <small class="contact__field-error" id="ContactForm-email-error">
              <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
              <span class="form__message Form_Error">{{ 'templates.contact.form.form_error' | t }}</span>
            </small>
          {% endif %}
        </div>
      </div>

      <input hidden class="field__input reason_for_inquiry" type="text" id="ContactForm-inquiry" name="contact[Reason for inquiry]" value="">
    
      <div class="select field">
      	<div class="selectBtn field__input"><span class="Select_Button_Text" data-type="Reason for inquiry">Reason for inquiry</span></div>
      	<div class="selectDropdown">
          <div class="option body" data-type="General inquiry">General inquiry</div>
          <div class="option body" data-type="Return to request">Request return</div>
          <div class="option body" data-type="Question">Question</div>
          <div class="option body" data-type="Business inquiry">Business inquiry</div>
          <div class="option body" data-type="Media">Media</div>
          <div class="option body" data-type="Other">Other</div>
      	</div>
      </div>

      <div class="field Text_Area">
        <textarea
          rows="10"
          id="ContactForm-body"
          class="text-area field__input"
          name="contact[{{ 'templates.contact.form.comment' | t }}]"
          placeholder="{{ 'templates.contact.form.comment' | t }}"
        >
          {{- form.body -}}
        </textarea>
      </div>
  
      <div class="Optional_Field text-center">*Required form fields</div>
      <div class="contact__button text-center">
        <button type="submit" class="button">
          {{ 'templates.contact.form.send' | t }}
        </button>
      </div>
    {% endform %}

    {% comment %}
    <p class="text text-center" style="margin-top: 30px;">For customer support: <a href="tel:+1 914-292-3818">+1 914-292-3818</a></p>
    {% endcomment %}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Contact form",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "subheading",
      "label": "Subheading"
    }
  ]
}
{% endschema %}