{% style %}
  header.SectionHeader .SectionHeader__Heading{
     font-size:48px;
  }
  .custom-collection{
    padding:56px 0;
  }
  .custom-collection .page-width{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .custom-collection header.SectionHeader .SectionHeader__Heading{
    line-height: 62px;
    letter-spacing: 0.96px;
  }
  .collection-row, .collection-row-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 56px;
    width: 100%;
  }
  .collection-row .collection-col{
    /* background: #EEEFEF; */
    padding:20px 20px 10px;;
    position:relative;
  }
  .collection-row .collection-col:before{
    content:"";
    background: #EEEFEF;
    width: 100%;
    height: calc(100% - 34px);
    position: absolute;
    left: 0;
    top: 0;
  }

  .collection-row .collection-col .collection-col-inner:before{
    display:none;
  }

  .collection-row .collection-col h6{
    color: #30383D;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.64px;
    margin:0 0 12px;
    position:relative;
  }
  .collection-row .collection-col .badge{
    border-radius: 34px;
    background: #546B82;
    display: inline-flex;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    border: 0;
    letter-spacing: .1px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: 1;
    width: max-content;
  }

  .collection-row .collection-col .collection-row-inner {
    gap: 20px;
  }
  .collection-row .collection-col .collection-row-inner .collection-col-inner {
    background: transparent;
    padding: 21px 0 0;
    text-align: center;
    position: relative;
  }

  .custom-collection .product-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: opacity .4s ease-in-out;
    height: 100%;
    border-right: 1px solid #CAD2D3;
    border-bottom: 1px solid #CAD2D3;
    border-left: 1px solid #CAD2D3;
    background: #FFF;
    padding-bottom:8px;
  }
  .custom-collection .product-card .product-card__image{
    aspect-ratio: 1/1;
    width: 100%;
    position: relative;
  }
  .custom-collection .product-card .aspect-ratio{
    transition: opacity .4s ease-in-out;
  }
  .custom-collection .product-card .product-card__swatches{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
    margin-top: 4px;
    margin-bottom: 16px;
    padding:0 6px;
  }
  
  .custom-collection .product-card a {
    width:100%;
  }
  
  .custom-collection .product-card .product-card__swatches button{
    width:auto;
    color: #546B82;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.28px;
     font-family: brandon;
  }
  .custom-collection .product-card .product-card__swatches .product-card__swatch{
    width: 24px;
    height: 24px;
    aspect-ratio: 1/1;
    box-sizing: border-box;
    border-radius: 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
    opacity: 1;
    transition: all .3s ease;
    position: relative;
  }
  
  .custom-collection .product-card .product-card__title{
    color: #30383D;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.48px;
    text-align:center;
    text-transform: unset;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .custom-collection .product-card .product-card__title span{
    display:none;
  }
  .custom-collection .product-card .product-content{
    border: 1px solid #CAD2D3;
    border-top:0px;
    background:#FFF;
    padding: 4px 10px 14px;
  }
  .custom-collection .product-card .text-link{
    color: #A19377;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 2px solid #A19377;
    text-underline-offset:0px;
    text-decoration: none;
    padding: 8px 20px 5.6px;
    max-width: 180px;
    margin: 0 auto;
  }
  .custom-collection .product-card .text-link *{
    width:auto;
  }
  .custom-collection .product-card .text-link span{
    position: relative;
    top: 2px;
    margin-left: 6px;
  }

  .collection-swatch {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 100%;
    margin-bottom: 12px;    
  }

  @media (max-width:1200px){
    .custom-collection .page-width{
      padding: 0 40px;
    }
    .collection-row{
      gap: 20px;
    }
    .custom-collection .product-card .product-content{
      padding:6px 8px 12px;
    }

    .custom-collection .product-card .text-link{
      padding: 6px 12px 5px;
      font-size: 12px;
    line-height: 20px;

    }
    .custom-collection .product-card .text-link svg{
      width: 20px;
    }
  }

  @media (max-width:989px){
    .custom-collection{
      padding:32px 0 40px;
    }
    .custom-collection .page-width{
      padding:0 20px;
      gap: 20px;
    }
    .custom-collection header.SectionHeader .SectionHeader__Heading{
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0.48px;
    }
    .collection-row{
      grid-template-columns:1fr;
    }
    .collection-row .collection-row{
      grid-template-columns:1fr 1fr;
    }
    .collection-row .collection-col{
      padding: 7px 20px 10px;
    }
    .collection-row .collection-col .collection-row-inner .collection-col-inner {
      padding: 12px 0 0;
    }
    .collection-row .collection-col .badge{
      font-size: 14px;
      line-height: 20px;
      padding:3px 12px 1px;
    }
   .custom-collection .product-card .product-card__title{
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.32px;
    }
    .custom-collection .product-card .product-card__swatches{
      column-gap: 4px;
      row-gap: 4px;
    }
    .custom-collection .product-card .product-card__swatches button{
      font-size: 10px;
      line-height: 12px;
      color: #A19377;
    }
    .custom-collection .product-card .product-card__swatches .product-card__swatch{
      width: 14px;
      height: 14px;
    }
    .custom-collection .product-card .text-link span{
      top:3px;
    }
    .custom-collection .product-card .product-card__swatches{
      margin-top: 6px;
      margin-bottom: 16px;
    }
  }

  @media (max-width:768px){
     .collection-row .collection-col h6{
       font-size:20px !important;
       margin: 0px 0 0px;
    }
  }

   @media (max-width:480px){
     .custom-collection .product-card .text-link{
       max-width: calc(100% - 8px);
    margin: 0 4px;
       text-align:center;
     }
   }

  @media (max-width:400px){
    .collection-row .collection-col{
      padding: 7px 12px 12px;
    }
    .collection-row .collection-col .collection-row-inner .collection-col-inner {
      padding: 12px 0 0;
    }
    .collection-row .collection-col .collection-row-inner {
      gap:12px;
    }
   
  }

  .custom-collection .product-card__image-label, .custom-collection .product-card__price{
    display:none;
  }
  
{% endstyle %}

<div class="custom-collection">
  <div class="page-width">
    {%- if section.settings.title != blank -%}
      <header class="SectionHeader">
        {%- if section.settings.title != blank -%}
          <h2 class="SectionHeader__Heading">{{ section.settings.title }}</h2>
        {%- endif -%}
      </header>
    {%- endif -%}

    <div class="collection-row">
      {%- for block in section.blocks -%}
        <div class="collection-col">
          <h6>{{ block.settings.title }}</h6>
          
          <div class="collection-row-inner">
            <div class="collection-col-inner">
              <p class="badge">
                {{- block.settings.badge1 -}}
              </p>
              <div class="product-card ">
                <div class="product-card__image">
                  <a href="{{ block.settings.collection1.url }}">
                    <div class="aspect-ratio img-fill" style="max-width: 100%; width: 100%; --aspect-ratio: ">
                      <img class="lazyload--fade lazyautosizes lazyloaded"
                        data-src="{{ block.settings.collection_image1 | image_url: width: 300 }}"
                        data-widths="[200,300,400,600]" 
                        data-sizes="auto" 
                        alt="image" 
                        loading="lazy"
                        data-media-id="" 
                        sizes="274px"
                        height="{{ block.settings.collection_image1.height }}"
                        width="{{ block.settings.collection_image1.width }}"
                        src="{{ block.settings.collection_image1 | image_url: width: 300 }}">
                    </div>
                  </a>
                </div>
              
                <a href="{{ block.settings.collection1.url }}">
                  <h3 class="product-card__title blue">
                    {{ block.settings.collection1_title | default: block.settings.collection1.title }}
                  </h3>
                  
                  <div class="product-card__swatches">
                    {% for swatch in block.settings.collection1.metafields.custom.collection_swatch_images.value %}
                      {{ swatch | image_url: width: 100 | image_tag: width: 25, loading: 'lazy', class: 'collection-swatch-img product-card__swatch' }}
                    {% endfor %}

                    {% if block.settings.collection1_show_more != blank %}
                      <small>+{{ block.settings.collection1_show_more }} more</small>
                    {% endif %}
                  </div>
                </a>

                
                <a href="{{ block.settings.collection1.url }}" class="text-link gold-secondary--dark product-card__link">
                  Shop Now 
                  <span> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="29" height="16" viewBox="0 0 29 16" fill="none"><path d="M28.7071 8.70711C29.0976 8.31658 29.0976 7.68342 28.7071 7.29289L22.3431 0.928932C21.9526 0.538408 21.3195 0.538408 20.9289 0.928932C20.5384 1.31946 20.5384 1.95262 20.9289 2.34315L26.5858 8L20.9289 13.6569C20.5384 14.0474 20.5384 14.6805 20.9289 15.0711C21.3195 15.4616 21.9526 15.4616 22.3431 15.0711L28.7071 8.70711ZM0 9H28V7H0V9Z" fill="#A19377"></path></svg>
                  </span>
                </a>
              </div>
            </div>

            <div class="collection-col-inner">
              <p class="badge">
                {{- block.settings.badge2 -}}
              </p>
              <div class="product-card ">
                <div class="product-card__image">
                  <a href="{{ block.settings.collection2.url }}">
                    <div class="aspect-ratio img-fill" style="max-width: 100%; width: 100%; --aspect-ratio: ">
                      <img class="lazyload--fade lazyautosizes lazyloaded"
                        data-src="{{ block.settings.collection_image2 | image_url: width: 300 }}"
                        data-widths="[200,300,400,600]" 
                        data-sizes="auto" 
                        alt="image" 
                        loading="lazy"
                        data-media-id="" 
                        sizes="274px"
                        height="{{ block.settings.collection_image2.height }}"
                        width="{{ block.settings.collection_image2.width }}"
                        src="{{ block.settings.collection_image2 | image_url: width: 300 }}">
                    </div>
                  </a>
                </div>
              
                <a href="{{ block.settings.collection2.url }}">
                  <h3 class="product-card__title blue">
                    {{ block.settings.collection2_title | default: block.settings.collection2.title }}
                  </h3>
                  
                  <div class="product-card__swatches">
                    {% for swatch in block.settings.collection2.metafields.custom.collection_swatch_images.value %}
                      {{ swatch | image_url: width: 100 | image_tag: width: 25, loading: 'lazy', class: 'collection-swatch-img product-card__swatch' }}
                    {% endfor %}

                    {% if block.settings.collection2_show_more != blank %}
                      <small>+{{ block.settings.collection2_show_more }} more</small>
                    {% endif %}                    
                  </div>                
                </a>

        
                <a href="{{ block.settings.collection2.url }}" class="text-link gold-secondary--dark product-card__link">
                  Shop Now 
                  <span> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="29" height="16" viewBox="0 0 29 16" fill="none"><path d="M28.7071 8.70711C29.0976 8.31658 29.0976 7.68342 28.7071 7.29289L22.3431 0.928932C21.9526 0.538408 21.3195 0.538408 20.9289 0.928932C20.5384 1.31946 20.5384 1.95262 20.9289 2.34315L26.5858 8L20.9289 13.6569C20.5384 14.0474 20.5384 14.6805 20.9289 15.0711C21.3195 15.4616 21.9526 15.4616 22.3431 15.0711L28.7071 8.70711ZM0 9H28V7H0V9Z" fill="#A19377"></path></svg>
                  </span>
                </a>
              </div>
            </div>            
          </div>

          
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Custom Collection",
    "class": "custom-collection-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Title"
      }
    ],
    "blocks": [
    {
     "type": "block",
     "name": "Collection-col",
     "limit":4,
     "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Enter type"
        },
       {
          "type": "header",
          "content": "Product 1"
        },
         {
          "type": "text",
          "id": "badge1",
          "label": "Enter Badge"
        },
        {
          "type": "image_picker",
          "id": "collection_image1",
          "label": "Collection image"
        },
        {
          "type": "collection",
          "id": "collection1",
          "label": "Collection"
        },
        {
          "type": "text",
          "id": "collection1_title",
          "label": "Collection title",
          "info": "if not set, it will pick the default one"
        },
        {
          "type": "text",
          "id": "collection1_show_more",
          "label": "Show more number"
        },       
        {
          "type": "header",
          "content": "Product 2"
        },
        {
          "type": "text",
          "id": "badge2",
          "label": "Enter Badge"
        },
        {
          "type": "image_picker",
          "id": "collection_image2",
          "label": "Collection image"
        },
        {
          "type": "collection",
          "id": "collection2",
          "label": "Collection"
        },
        {
          "type": "text",
          "id": "collection2_title",
          "label": "Collection title",
          "info": "if not set, it will pick the default one"
        },
        {
          "type": "text",
          "id": "collection2_show_more",
          "label": "Show more number"
        }       
      ]
    }
  
  ],
    "presets": [
    {
      "name": "Custom Collection",
      "settings": {}
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}


