{{ 'section-designer-spotlight-feature.css' | asset_url | stylesheet_tag }}
{{ 'section-designer-spotlight.css' | asset_url | stylesheet_tag }}

<div class="designer-spotlight">
  <div class="page-width">
    <div class="designer-spotlight__container">
      {% for block in section.blocks %}
        <div class="designer-spotlight__item {% cycle 'odd', 'even' %}" {{ block.shopify_attributes }}>
          <div class="designer-spotlight__image-container">
            <h2 class="designer-spotlight__title h3">{{ block.settings.title }}</h2>
            <div class="designer-spotlight-feature__designer">
              <div class="designer-spotlight-feature__designer-image">
                {% render 'lazy-image' image: block.settings.designer_image, fade: true, fill: true %}
              </div>
              <div class="designer-spotlight-feature__designer-content">
                <p class="designer-spotlight-feature__designer-name">{{ block.settings.designer_name }}</p>
                <p class="designer-spotlight-feature__designer-title">{{ block.settings.designer_title }}</p>
              </div>
            </div>
            <div class="designer-spotlight__image">
              {% render 'lazy-image' image: block.settings.image, fade: true, fill: true %}
            </div>
          </div>
          <div class="designer-spotlight__content">
            <h3 class="designer-spotlight__text-header h3">{{ block.settings.text_header_1 }}</h3>
            <p class="designer-spotlight__text h4">{{ block.settings.text_1 }}</p>
            {% if block.settings.text_header_2 != blank %}
              <h3 class="designer-spotlight__text-header h3">{{ block.settings.text_header_2 }}</h3>
              <p class="designer-spotlight__text h4">{{ block.settings.text_2 }}</p>
            {% endif %}

            {% if block.settings.text_header_3 != blank %}
              <h3 class="designer-spotlight__text-header h3">{{ block.settings.text_header_3 }}</h3>
              <p class="designer-spotlight__text h4">{{ block.settings.text_3 }}</p>
            {% endif %}
            <a href="{{ block.settings.button_link }}" class="designer-spotlight__button button">{{ block.settings.button_label }}</a>
          </div>
        </div>
        {% unless forloop.last %}
          <div class="designer-spotlight__divider"></div>
        {% endunless %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Designer Spotlight",
    "settings": [
    ],
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "image_picker",
            "id": "designer_image",
            "label": "Designer Image"
          },
          {
            "type": "text",
            "id": "designer_name",
            "label": "Designer Name"
          },
          {
            "type": "text",
            "id": "designer_title",
            "label": "Designer Title"
          },
          {
            "type": "text",
            "id": "text_header_1",
            "label": "Text Header 1"
          },
          {
            "type": "textarea",
            "id": "text_1",
            "label": "Text 1"
          },
          {
            "type": "text",
            "id": "text_header_2",
            "label": "Text Header 2"
          },
          {
            "type": "textarea",
            "id": "text_2",
            "label": "Text 2"
          },
          {
            "type": "text",
            "id": "text_header_3",
            "label": "Text Header 3"
          },
          {
            "type": "textarea",
            "id": "text_3",
            "label": "Text 1"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button Label"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Designer Spotlight"
      }
    ]
  }
{% endschema %}