{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}
{% comment %} {{ 'designer-program.css' | asset_url | stylesheet_tag }} {% endcomment %}

<div class="Designer_Program_Main" id="section-{{ section.id }}">
  <div class="contact page-width spaced-section">
    <div class="Contact_Form">
      <div class="Designer_Program_Header text-center">
        {% if section.settings.heading != blank %}
          <h3>{{ section.settings.heading }}</h3>
        {% endif %}
        {% if section.settings.top_text != blank %}
          <div class="body">{{ section.settings.top_text }}</div>
        {% endif %}
      </div>

      <div class="Designer_Program_Form">
        {%- for block in section.blocks -%}
            {% render block %}
        {%- endfor -%}
        {% comment %} <div id="grapevine-container"></div>
<script src="https://gvsurveys.s3.eu-west-2.amazonaws.com/gv-embed-porchandhall.myshopify.com-699ca63680d5a.js"></script> {% endcomment %}
      </div>

    </div>
  </div>
</div>

{% style %}
  #section-{{ section.id }} {
    background-image: url('{{ section.settings.image | img_url: '1440x' }}')
  }
{% endstyle %}


{% schema %}
  {
    "name": "Designer Program",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background Image"
      },
      {
        "type":"text",
        "id":"heading",
        "label":"Top Heading"
      },
      {
        "type":"richtext",
        "id":"top_text",
        "label":"Top Text"
      },
      {
        "type" : "url",
        "id" : "thankyou_link",
        "label" : "Link Submit"
      }
    ],
    "blocks": [
      {
        "type": "@app"
      }
    ],
    "presets": [
      {
        "name": "Designer Program"
      }
    ]
  }
{% endschema %}