{{ 'designer-message-wishes.css' | asset_url | stylesheet_tag: preload: true }}

<section class="designer__message--thanks">
  <div class="page-width">
    <div class="designer__message--container">
      <!-- Left Content -->
      <div class="send-client-text">
        <h2 class="title">{{ section.settings.title }}</h2>
        <hr class="separator">
        <p class="description">{{ section.settings.description }}</p>
      </div>
  
      <!-- Right Image -->
      <div class="send-client-image-wrapper">
        {% if section.settings.image != blank %}
          <div class="image-container">
            {{ section.settings.image | image_url: width: 1200 | image_tag: width: "100%", loading: "lazy", alt: section.settings.image.alt }}
            <div class="overlay">{{ section.settings.overlay_text }}</div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Send Client Thanks",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Send Your Client a Special Thanks"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "The perfect way to wrap up that great project and show your client gratitude: With a beautiful mat— that we’ll send their way in pretty packaging, with a personalized note attached."
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "image_alt",
      "label": "Image Alt Text",
      "default": "Door mat image"
    },
    {
      "type": "text",
      "id": "overlay_text",
      "label": "Image Overlay Text",
      "default": "A personalized card & beautiful mat just for you"
    }
  ],
  "presets": [
    {
      "name": "Send Client Thanks",
      "category": "Custom"
    }
  ]
}
{% endschema %}
