{{ 'designer-trade-program.css' | asset_url | stylesheet_tag: preload: true }}

<div class="trade__program" id="section-{{ section.id }}">
  <div class="trade__overlay">
    <div class="trade__content">
      <h2>{{ section.settings.heading }}</h2>
      <p>{{ section.settings.description }}</p>
      <div class="trade__buttons">
        <a href="{{ section.settings.join_link }}" class="button join-btn">
          Become a member.
        </a>
        <a href="{{ section.settings.signin_link }}" class="button signin-btn">Sign in</a>
      </div>
    </div>
  </div>
</div>

{% style %}

  #section-{{ section.id }} {
    background-image: url({{ section.settings.background_image | image_url: width: 2000 }});
  }
  
{% endstyle %}

{% schema %}
{
  "name": "Trade Program Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_background_image",
      "label": "Mobile Background Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Trade Program"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Porte + Hall was founded by an interior designer, so we’re thrilled to roll out the red carpet (er, mat) for our trade community—with exclusive perks and personalized support."
    },
    {
      "type": "url",
      "id": "join_link",
      "label": "Join Link"
    },
    {
      "type": "url",
      "id": "signin_link",
      "label": "Sign-in Link"
    }
  ],
  "presets": [
    {
      "name": "Trade Program Section"
    }
  ]
}
{% endschema %}