{{ 'designer-how-support.css' | asset_url | stylesheet_tag: preload: true }}

{% if section.settings.heading != blank and section.settings.image != blank %}
  <section class="designer__how--support" style="background: {{ section.settings.bg_color }}">
    <div class="page-width">
      <div class="designer__how--support-grid">
        {% if section.settings.heading != blank or section.blocks.size > 0 %}
        <div class="designer__how--support-content">
          <h2 class="title">{{ section.settings.heading }}</h2>
          <hr class="separator">
          {% if section.blocks.size > 0 %}
            <ul class="features__list">
              {% for feature in section.blocks %}
                {% if feature.settings.title != blank and feature.settings.description != blank %}
                  <li class="feature__item">
                    <div class="feature__details">
                      <h3 class="feature__title">{{ feature.settings.title }}</h3>
                      <div class="feature__description">{{ feature.settings.description }}</div>
                    </div>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %}
        </div>
        {% endif %}
    
        {% if section.settings.image != blank %}
          <div class="designer__how--support-image">
            {% if section.settings.heading != blank %}
            <h2 class="title">{{ section.settings.heading }}</h2>
            {% endif %}
            {{ section.settings.image | image_url: width: 1200 | image_tag: width: "100%", loading: "lazy", alt: section.settings.image.alt }}
          </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endif %}

{% schema %}
{
  "name": "How We Support You",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "How we support you"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Right Image"
    }
  ],
  "blocks": [
    {
      "type": "feature",
      "name": "Feature",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Feature Title"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<p>Feature description goes here.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "How We Support You"
    }
  ]
}
{% endschema %}
