{{ 'designer-image-layout.css' | asset_url | stylesheet_tag: preload: true }}

<section class="designer__image--layout">
  <div class="designer__image--layout-container">
    <div class="designer__image--grid">
      <div class="image-left-top">
        <img src="{{ section.settings.image_left_top | img_url: '1024x' }}" alt="{{ section.settings.image_left_top.alt | escape }}">
      </div>
      <div class="image-left-bottom">
        <img src="{{ section.settings.image_left_bottom | img_url: '1024x' }}" alt="{{ section.settings.image_left_bottom.alt | escape }}">
      </div>
    </div>

    <div class="image-main">
      <img src="{{ section.settings.image_right | img_url: '1024x' }}" alt="{{ section.settings.image_right.alt | escape }}">
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Designer Image Layout",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_left_top",
      "label": "Left Top Image"
    },
    {
      "type": "image_picker",
      "id": "image_left_bottom",
      "label": "Left Bottom Image"
    },
    {
      "type": "image_picker",
      "id": "image_right",
      "label": "Right Image"
    },
  ],
  "presets": [
    {
      "name": "Designer Image Layout"
    }
  ]
}
{% endschema %}