{{ 'section-faq.css' | asset_url | stylesheet_tag }}

<div class="page-width" id="{{ section.settings.anchor }}">
  <div class="faq__inner">
    <h2 class="faq__heading">{{ section.settings.heading | default: 'FAQ' }}</h2>

    {% assign column_break = section.blocks.size | divided_by: 2.0 | ceil %}
    <div class="faq__wrapper">
      <div class="faq__column">
      {% for block in section.blocks %}
        <div class="faq__item">
          <button class="faq__question body" data-faq="{{ forloop.index }}">
            {% if block.settings.title != blank %}
              <span>{{ block.settings.title }}</span>
            {% endif %}
            
            {% if block.settings.title_richtext != blank %}
              {{ block.settings.title_richtext }}
            {% endif %}
            <span>{% render 'icon', icon: 'accordion' %}</span>
          </button>
          <div class="faq__content body">
            {{ block.settings.answer }}
          </div>
        </div>
        {% if column_break == forloop.index %}
        </div>
        <div class="faq__column">
        {% endif %}
      {% endfor %}
      </div>
    </div>
  </div>
</div>


{% if content_for_header contains '"faq_schema_printed"' %}
  {% assign faq_schema_already_printed = true %}
{% else %}
  {% assign faq_schema_already_printed = false %}
{% endif %}

{% unless faq_schema_already_printed %}
  {% capture faq_schema %}"faq_schema_printed": true{% endcapture %}
  <script>
    window.faqSchemaPrinted = true;
  </script>

  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
      {% for block in section.blocks %}
      {
        "@type": "Question",
        "name": {{ block.settings.title | default: block.settings.title_richtext | strip_html | json }},
        "acceptedAnswer": {
          "@type": "Answer",
          "text": {{ block.settings.answer | strip_html | json }}
        }
      }{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ]
  }
  </script>
{% endunless %}





{% schema %}
{
  "name": "FAQ",
  "tag": "section",
  "class": "faq with-spacing",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "anchor",
      "label": "(Optional) Anchor Link"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Connect collection for metafield access to FAQs"
    }
  ],
  "blocks": [
    {
      "type": "faq",
      "name": "Frequently Asked Question",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Question"
        },
        {
          "type": "richtext",
          "id": "title_richtext",
          "label": "Question richtext"
        },        
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQ"
    }
  ]
}
{% endschema %}
