{{ 'section-faq.css' | asset_url | stylesheet_tag }}

<div class="page-width">
  <div class="faq__inner">
    <h2 class="faq__heading">{{ section.settings.heading | default: 'FAQ' }}</h2>

    {% assign column_break = section.blocks.size | divided_by: 2.0 | ceil %}
    <div class="faq__wrapper">
      <div class="faq__column">
      {% for block in section.blocks %}
        <div class="faq__item">
          <button class="faq__question body" data-faq="{{ forloop.index }}">
            <span>{{ block.settings.title }}</span>
            <span>{% render 'icon', icon: 'accordion' %}</span>
          </button>
          <div class="faq__content body">
            {{ block.settings.answer }}
          </div>
        </div>
        {% if column_break == forloop.index %}
        </div>
        <div class="faq__column">
        {% endif %}
      {% endfor %}
      </div>
    </div>
  </div>
</div>

{% javascript %}
  const accordionItems = document.querySelectorAll('.faq__question');
  accordionItems.forEach((accordion) => {
    accordion.addEventListener('click', (event) => {
      const parent = accordion.parentElement;
      const content = accordion.nextElementSibling;

      if (!parent.classList.contains('active')) {
        parent.classList.add('active');
        slideDown(content, 400);
      } else {
        parent.classList.remove('active');
        slideUp(content, 400);
      }
    });
  });
{% endjavascript %}

{% schema %}
{
  "name": "FAQ",
  "tag": "section",
  "class": "faq with-spacing",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Connect collection for metafield access to FAQs"
    }
  ],
  "blocks": [
    {
      "type": "faq",
      "name": "Frequently Asked Question",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "question"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQ"
    }
  ]
}
{% endschema %}
