{{ 'section-featured-articles.css' | asset_url | stylesheet_tag }}
{{ 'component-article-card.css' | asset_url | stylesheet_tag }}

{% style %}
{% unless product.handle contains 'porter' %}
@media (max-width:989px){
  {% if section.settings.hide_mobile == true %}
    #shopify-section-{{ section.id }} {
      display: none !important;
    }
  {% endif %}
}
{% endunless %}
{% endstyle %}

<div class="featured-articles__inner page-width">
  <div class="featured-articles__heading heading-with-accents">
    <span class="divider header-divider">
      {%- render 'divider' %}
      <span class="divider-line"></span>
    </span>
    <h2 class="blue">{{ section.settings.heading | newline_to_br }}</h2>
    <span class="divider header-divider"> <span class="divider-line"></span> {% render 'divider' %} </span>
  </div>

  <div class="featured-articles__article-cards no-scrollbar">
    {%- if section.settings.show_recent_articles -%}
      {% assign blog = section.settings.blog %}
       {% assign recent_articles = blog.articles | sort:'published_at' | reverse %}
      {%- for article in recent_articles limit: 3 -%}
        {% render 'article-card', article: article %}
      {%- endfor -%}

    {%- else -%}
      
      {%- for block in section.blocks -%}
        {% render 'article-card', article: block.settings.article %}
      {%- endfor -%}
      
    {%- endif -%}
  </div>
</div>

<style>
  {% if section.settings.background != blank %}
    #shopify-section-{{section.id }}.featured-articles {
      background: {{ section.settings.background }};
    }
  {% endif %}
</style>

{% schema %}
{
  "name": "Featured Articles",
  "class": "featured-articles with-spacing",
  "tag": "section",
  "settings": [
    {
      "type": "textarea",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Color"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "Select Blog"
    },
    {
      "type": "checkbox",
      "id": "show_recent_articles",
      "label": "Show Most Recent Articles"
    },
    {
      "type": "checkbox",
      "id": "hide_mobile",
      "label": "Hide Mobile?",
      "default": false
    }
  ],
  "max_blocks": 3,
  "blocks": [
    {
      "type": "article",
      "name": "Article",
      "settings": [
        {
          "type": "article",
          "id": "article",
          "label": "Article"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Article"
    }
  ]
}
{% endschema %}
