{{ 'hero-porter-hall.css' | asset_url | stylesheet_tag: preload: true }}

<section class="hero__porter--hall">
  <div class="hero__container">
    <div class="hero__image--wrapper{% if section.blocks.size > 1 %} hero__image--slider swiper{% endif %}"> 
      {% if section.blocks.size > 1 %}
      <div class="swiper-wrapper">
      {% endif %}
        {% for block in section.blocks %}
          {% if block.settings.image != blank %}
            <div class="hero__image--item{% if section.blocks.size > 1 %} swiper-slide{% endif %}">
              <figure {% if block.settings.mobile_image != blank %}class="mobile__hidden"{% endif %}>
                {{ block.settings.image | image_url: width: 2560 | image_tag: width: "100%", alt: block.settings.image.alt }}
              </figure> 
              {% if block.settings.mobile_image != blank %}
                <figure class="desktop__hidden">
                  {{ block.settings.mobile_image | image_url: width: 2560 | image_tag: width: "100%", alt: block.settings.mobile_image.alt }}
                </figure>
              {% endif %}
              <div class="hero__text hero__text--{{ block.settings.text_position }}">
                <div class="page-width">
                  {% if block.settings.heading != blank %}
                    <h2 class="hero__title">{{ block.settings.heading | replace: '|', '</br>' }}</h2> 
                  {% endif %}
                  {% if block.settings.feature_text != blank %}
                    <div class="hero__features">
                      {% assign feature_text = block.settings.feature_text | split: ', ' %}
                      {% for text in feature_text %}
                        <span>{{ text }}</span>
                      {% endfor %}
                    </div>
                  {% endif %}
                  {% if block.settings.button_link != blank and block.settings.button_text != blank %}
                  <div class="hero__button">
                    <a href="{{ block.settings.button_link }}" class="button">
                      {{ block.settings.button_text }}
                      <span class="arrow">
                        <svg xmlns="http://www.w3.org/2000/svg" width="29" height="16" viewBox="0 0 29 16" fill="none">
                          <path d="M28.7071 8.5076C29.0976 8.11706 29.0976 7.4839 28.7071 7.09337L22.3431 0.729416C21.9526 0.338892 21.3195 0.338892 20.9289 0.729416C20.5384 1.11994 20.5384 1.7531 20.9289 2.14363L26.5858 7.80048L20.9289 13.4574C20.5384 13.8479 20.5384 14.481 20.9289 14.8716C21.3195 15.2621 21.9526 15.2621 22.3431 14.8716L28.7071 8.5076ZM0 8.80048H28V6.80048H0V8.80048Z" fill="currentColor"></path>
                        </svg>
                      </span>
                    </a>
                  </div>
                  {% endif %}
                </div>      
              </div>
            </div>
          {% endif %}
        {% endfor %}
      {% if section.blocks.size > 1 %}
      </div>
      {% endif %}
    </div>    
  </div>
</section>

<script>

  document.addEventListener("DOMContentLoaded", (event) => {
    var tradeSwiper = new Swiper(".hero__image--slider", {
      loop: true,
      slidesPerView: 1, 
      autoplay: {
        delay: 2000,
        disableOnInteraction: false,
      },
    });       
  });
  
</script>

{% schema %}
{
  "name": "Hero - Porter Hall",
  "settings": [
    
  ],
  "blocks": [
    {
      "type": "slider",
      "name": "Slider",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Desktop Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile Image"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Designed to impress. Built to last. Welcome to The Porter.",
          "info": "To break the title, please add the ‘|’ separator in the title text."
        },
        {
          "type": "textarea",
          "id": "feature_text",
          "label": "Feature Text",
          "info": "please add the ‘ ,’ separator in the feature text.",
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        },
        {
          "type": "select",
          "id": "text_position",
          "label": "Text Position",
          "options": [
            {
              "label": "Top Left",
              "value": "top--left"
            },
            {
              "label": "Top Center",
              "value": "top--center"
            },
            {
              "label": "Top Right",
              "value": "top--right"
            },
            {
              "label": "Middle Left",
              "value": "middle--left"
            },
            {
              "label": "Middle Center",
              "value": "middle--center"
            },
            {
              "label": "Middle Right",
              "value": "middle--right"
            },
            {
              "label": "Bottom Left",
              "value": "bottom--left"
            },
            {
              "label": "Bottom Center",
              "value": "bottom--center"
            },
            {
              "label": "Bottom Right",
              "value": "bottom--right"
            },
          ]
        },
      ]
    }
  ]
}
{% endschema %}