{{ 'hero-porter-hall.css' | asset_url | stylesheet_tag: preload: true }}

<section class="hero-porter-hall">
  <div class="hero-container">

    <div class="trade__image--wrapper{% if section.blocks.size > 1 %} trade__image--slider swiper{% endif %}"> 
      {% if section.blocks.size > 1 %}
      <div class="swiper-wrapper">
      {% endif %}
        {% for block in section.blocks %}
          {% if block.settings.image != blank %}
          <div class="trade__image--item{% if section.blocks.size > 1 %} swiper-slide{% endif %}">
            <figure {% if block.settings.mobile_image != blank %}class="mobile__hidden"{% endif %}>
              {{ block.settings.image | image_url: width: 2560 | image_tag: width: "100%", alt: section.settings.image.alt }}
            </figure> 
            {% if block.settings.mobile_image != blank %}
              <figure class="desktop__hidden">
                {{ block.settings.mobile_image | image_url: width: 2560 | image_tag: width: "100%", alt: section.settings.mobile_image.alt }}
              </figure>
            {% endif %}

            <div class="hero-text">
              <h2 class="hero-title">{{ section.settings.heading }}</h2>
              <p class="hero-subtitle">{{ section.settings.subheading }}</p>
        
              <!-- Decorative Line and Features -->
              <div class="hero-features">
                <hr class="feature-line">
                <span>{{ section.settings.feature_1 }}</span>
                <span class="bullet">•</span>
                <span>{{ section.settings.feature_2 }}</span>
                <span class="bullet">•</span>
                <span>{{ section.settings.feature_3 }}</span>
              </div>
              <a href="{{ section.settings.button_link }}" class="cta-button">{{ section.settings.button_text }}</a>
            </div>
            
          </div>
          {% endif %}
        {% endfor %}
      {% if section.blocks.size > 1 %}
      </div>
      {% endif %}
    </div>

    
    
  </div>
</section>

{% schema %}
{
  "name": "Hero - Porter Hall",
  "settings": [
    {
      "type": "text",
      "id": "logo_text",
      "label": "Logo Text",
      "default": "PORTE+HALL"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Designed to impress. Built to last. Welcome to The Porter."
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
    },
    {
      "type": "text",
      "id": "feature_1",
      "label": "Feature 1",
      "default": "Luxury look & Feel"
    },
    {
      "type": "text",
      "id": "feature_2",
      "label": "Feature 2",
      "default": "For Outdoor Use"
    },
    {
      "type": "text",
      "id": "feature_3",
      "label": "Feature 3",
      "default": "Ultra-Durable Design"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    }
  ]
}
{% endschema %}