<section id="section-{{ section.id }}" class="section icons-with-text {{ section.settings.custom-class }}">
     <div class="icon-container">
        <div class="icon-wrapper">
          {%- for block in section.blocks -%}
            <div class="icon-text-content ">
               {% if block.settings.icon_image %}
                  <div class="svg-img">{{ block.settings.icon_image }}</div>
               {%  endif %}
               <h5 class="icon_text">{{ block.settings.title }}</h5>
            </div>
         {%  endfor %}
        </div>
    </div>

   
</section>

{% schema %}
  {
    "name": "Icon with text",
    "settings": [
      {
        "type": "text",
        "id": "custom-class",
        "label": "custom-class"
      },
      {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#ffffff"
    },
      
      {
        "type": "color",
        "id": "background",
        "label": "Background",
        "default": "#e4e4e4"
      }
    ],
     "blocks": [
    {
     "type": "block",
     "name": "Icon",
     "limit":4,
     "settings": [
        {
          "type": "textarea",
          "id": "icon_image",
          "label": "Add Icon"
        },

        {
          "type": "text",
          "id": "title",
          "label": "Enter text"
        }
      ]
    }
  
  ],
    "presets": [
    {
      "name": "Icon with text",
      "settings": {}
    }
  ]
  }
{% endschema %}

<style>
    .icons-with-text{
        padding: 18px 10px;
        background-color:{{section.settings.background}};
/*         margin-top:-10px */
    }
  .icons-with-text .icon-container{
        max-width: 1000px;
        margin: auto;
        display: flex;
        gap:44px;
      
  }
  .icons-with-text .icon_text{
    color:{{section.settings.text_color}}
  }
  
  .icons-with-text .icon-wrapper{
    display: contents !important;
  }

  .icons-with-text .icon-text-content{
    display: flex;
    align-items: center;
    justify-content: center;
/*     width: 150px; */
  }
  .icons-with-text .icon-container .icon-text-content h5{
    padding-left:10px;
    font-size: 18px;
    font-style:normal;
    line-height: 28px;
    font-weight: 390;
    font-family: Brandon Grotesque;
    text-align:center;
  }
  .icons-with-text .icon-text-content img{
    width: 60px;
    height:auto
  }


  /* .icons-with-text .icon-text-content:nth-of-type(1){
    width: 193px;
  }
  .icons-with-text .icon-text-content:nth-of-type(2){
    width: 275px;
  }
  .icons-with-text .icon-text-content:nth-of-type(3){
    width: 242px;
  }
 */
  @media(max-width:767.98px){
    .icons-with-text{
        overflow-x:scroll;
        padding: 10px 0px!important;
        margin-top:0
    }
    .icons-with-text .icon-container{
      max-width: unset;
      min-width:max-content;
      justify-content: space-around;
    }
    .icons-with-text .icon-text-content{
      width: auto !important;
    }
    .icons-with-text .icon-text-content img{
      width: 30px;
    }
    .icons-with-text .icon-container .icon-text-content h5{
      font-size: 10px;
    }
    .icons-with-text::-webkit-scrollbar {
     display:none;
    }
    .icons-with-text .icon-text-content:nth-of-type(3){
      display:none;
    }
    .icons-with-text .icon-text-content:nth-of-type(1) img{
      width: auto;
      height: 30px;
    }
  }
  
</style>

{% javascript %}
{% endjavascript %}