{% style %}
  .columns-wrap {
    display: grid;
    justify-content: center;
    gap: 32px;

    max-width: 900px;
    margin: 0 auto;
  }
  
  .columns-wrap .col {
    text-align: center;
  }

  .columns-wrap .column-badge {
    background: #546b82;
    color: #fff;
    font-size: 24px;
    padding: 4px 12px;
    border-radius: 24px;
    width: max-content;
    margin: 0 auto;
    margin-bottom: -20px;
    z-index: 1;
    position: relative;    
  }  
  
  .columns-wrap .column-btn-group {
    display: grid;
    gap: 8px;
    max-width: 85%;
    margin: 0 auto;
    margin-top: 12px;
  }  

  .column-btn-group .button {
    background: white;
    color: #ada188;
    border: 2px solid;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;    

    padding: 14px 20px;
  }  
  
  @media (min-width: 989px) {
    .columns-wrap {
      grid-template-columns: 1fr 1fr;
    }    
  }  
{% endstyle %}

<div class="page-width">
  <div class="columns-wrap">
    {% for block in section.blocks %}
      <div class="col">
        <div class="column-image">
          {% if block.settings.column_badge != blank %}
            <p class="column-badge">{{ block.settings.column_badge }}</p>
          {% endif %}

          {% if block.settings.column_image != blank %}
            {{ block.settings.column_image | image_url: width: 900 | image_tag: width: '100%' }}
          {% endif %}
        </div>
        <div class="column-content">
          {% if block.settings.column_title != blank %}
            <h4>{{ block.settings.column_title }}</h4>
          {% endif %}
      
          <div class="column-btn-group">
            {% if block.settings.button_1_text != blank %}
              <a href="{{ block.settings.button_1_url }}" class="button">
                {{ block.settings.button_1_text }}
              
                <svg xmlns="http://www.w3.org/2000/svg" width="29" height="16" viewBox="0 0 29 16" fill="none">
                <path d="M28.7071 8.70711C29.0976 8.31658 29.0976 7.68342 28.7071 7.29289L22.3431 0.928932C21.9526 0.538408 21.3195 0.538408 20.9289 0.928932C20.5384 1.31946 20.5384 1.95262 20.9289 2.34315L26.5858 8L20.9289 13.6569C20.5384 14.0474 20.5384 14.6805 20.9289 15.0711C21.3195 15.4616 21.9526 15.4616 22.3431 15.0711L28.7071 8.70711ZM0 9H28V7H0V9Z" fill="#5B4D33"/>
                </svg>              
              </a>
            {% endif %}
      
            {% if block.settings.button_2_text != blank %}
              <a href="{{ block.settings.button_2_url }}" class="button">
                {{ block.settings.button_2_text }}
              
                <svg xmlns="http://www.w3.org/2000/svg" width="29" height="16" viewBox="0 0 29 16" fill="none">
                <path d="M28.7071 8.70711C29.0976 8.31658 29.0976 7.68342 28.7071 7.29289L22.3431 0.928932C21.9526 0.538408 21.3195 0.538408 20.9289 0.928932C20.5384 1.31946 20.5384 1.95262 20.9289 2.34315L26.5858 8L20.9289 13.6569C20.5384 14.0474 20.5384 14.6805 20.9289 15.0711C21.3195 15.4616 21.9526 15.4616 22.3431 15.0711L28.7071 8.70711ZM0 9H28V7H0V9Z" fill="#5B4D33"/>
                </svg>              
              </a>
            {% endif %}
      
            {% if block.settings.button_3_text != blank %}
              <a href="{{ block.settings.button_3_url }}" class="button">
                {{ block.settings.button_3_text }}
              
                <svg xmlns="http://www.w3.org/2000/svg" width="29" height="16" viewBox="0 0 29 16" fill="none">
                <path d="M28.7071 8.70711C29.0976 8.31658 29.0976 7.68342 28.7071 7.29289L22.3431 0.928932C21.9526 0.538408 21.3195 0.538408 20.9289 0.928932C20.5384 1.31946 20.5384 1.95262 20.9289 2.34315L26.5858 8L20.9289 13.6569C20.5384 14.0474 20.5384 14.6805 20.9289 15.0711C21.3195 15.4616 21.9526 15.4616 22.3431 15.0711L28.7071 8.70711ZM0 9H28V7H0V9Z" fill="#5B4D33"/>
                </svg>              
              </a>
            {% endif %}
      
          </div>
        </div>
      </div>
    {% endfor %}  
  </div>
</div>

{% schema %}
  {
    "name": "LP Columns with buttons",
    "class": "LP-columns-with-buttons with-spacing",
    "settings": [],
     "blocks": [
      {
       "type": "block",
       "name": "Column",
       "limit": 2,
       "settings": [
          {
            "type": "text",
            "id": "column_badge",
            "label": "Column badge"
          },         
          {
            "type": "image_picker",
            "id": "column_image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "column_title",
            "label": "Column title"
          },
          {
            "type": "text",
            "id": "button_1_text",
            "label": "Button 1 text"
          },
          {
            "type": "url",
            "id": "button_1_url",
            "label": "Button 1 url"
          },
          {
            "type": "text",
            "id": "button_2_text",
            "label": "Button 2 text"
          },
          {
            "type": "url",
            "id": "button_2_url",
            "label": "Button 2 url"
          },
          {
            "type": "text",
            "id": "button_3_text",
            "label": "Button 3 text"
          },
          {
            "type": "url",
            "id": "button_3_url",
            "label": "Button 3 url"
          }          
        ]
      }
    ],
    "presets": [
    {
      "name": "LP Columns with buttons",
      "settings": {}
    }
  ]    
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}