<style>
  .custom-collection{
    padding: 56px 0;
    background: #eeefef;
  }

  .custom-collection .page-width{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .custom-collection header.SectionHeader .SectionHeader__Heading{
    line-height: 62px;
    letter-spacing: 0.96px;
  }
  .collection-row, .collection-row-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 56px;
    width: 100%;
  }
  .collection-row .collection-col{
    /* background: #EEEFEF; */
    padding:20px 20px 10px;;
    position:relative;
  }
  .collection-row .collection-col:before {
    content:"";
    background: white;
    width: 100%;
    /* height: calc(100% - 34px); */
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  .collection-row .collection-col .collection-col-inner:before{
    display:none;
  }

  .collection-row .collection-col h6{
    color: #30383D;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.64px;
    margin:0 0 12px;
    position:relative;
  }
  .collection-row .collection-col .badge{
    border-radius: 34px;
    background: #546B82;
    display: inline-flex;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    border: 0;
    letter-spacing: .1px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: 1;
    width: max-content;
  }

  .collection-row .collection-col .collection-row-inner {
    gap: 20px;
  }
  .collection-row .collection-col .collection-row-inner .collection-col-inner {
    background: transparent;
    padding: 21px 0 0;
    /* text-align: center; */
    position: relative;
  }

  .custom-collection .product-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: opacity .4s ease-in-out;
    height: 100%;
    border-right: 1px solid #CAD2D3;
    border-bottom: 1px solid #CAD2D3;
    border-left: 1px solid #CAD2D3;
    background: #f4f2ee;
    padding-bottom:8px;
    gap: 4px;
  }
  .custom-collection .product-card .product-card__image{
    aspect-ratio: 1/1;
    width: 100%;
    position: relative;
  }
  .custom-collection .product-card .aspect-ratio{
    transition: opacity .4s ease-in-out;
  }
  .custom-collection .product-card .product-card__swatches{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
    margin-top: 4px;
    margin-bottom: 16px;
    padding:0 6px;
  }
  .custom-collection .product-card *{
    width:100%;
  }
  .custom-collection .product-card .product-card__swatches button{
    width:auto;
    color: #546B82;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.28px;
     font-family: brandon;
  }
  .custom-collection .product-card .product-card__swatches .product-card__swatch{
    width: 24px;
    height: 24px;
    aspect-ratio: 1/1;
    box-sizing: border-box;
    border-radius: 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
    opacity: 1;
    transition: all .3s ease;
    position: relative;
  }

  .custom-collection .product-card .product-card__title{
    color: #30383D;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.48px;
    text-align:center;
    text-transform: unset;
    padding-top: 8px;
  }
  .custom-collection .product-card .product-card__title span{
    display:none;
  }
  .custom-collection .product-card .product-content{
    border: 1px solid #CAD2D3;
    border-top:0px;
    background:#FFF;
    padding: 4px 10px 14px;
  }
  .custom-collection .product-card .text-link{
    color: #5B4D33;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 2px solid #5B4D33;
    text-underline-offset:0px;
    text-decoration: none;
    padding: 8px 20px 5.6px;
    max-width: 180px;
    margin: 0 auto;
  }
  .custom-collection .product-card .text-link *{
    width:auto;
  }
  .custom-collection .product-card .text-link span{
    position: relative;
    top: 2px;
    margin-left: 6px;
  }

  @media (max-width:1200px){
    .custom-collection .page-width{
      padding: 0 40px;
    }
    .collection-row{
      gap: 20px;
    }
    .custom-collection .product-card .product-content{
      padding:6px 8px 12px;
    }

    .custom-collection .product-card .text-link{
      padding: 6px 12px 5px;
      font-size: 12px;
    line-height: 20px;

    }
    .custom-collection .product-card .text-link svg{
      width: 20px;
    }
  }

  @media (max-width:989px){
    .custom-collection{
      padding:32px 0 40px;
    }
    .custom-collection .page-width{
      padding:0 20px;
      gap: 20px;
    }
    .custom-collection header.SectionHeader .SectionHeader__Heading{
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0.48px;
    }
    .collection-row{
      grid-template-columns:1fr;
    }
    .collection-row .collection-row{
      grid-template-columns:1fr 1fr;
    }
    .collection-row .collection-col{
      padding: 7px 20px 10px;
    }
    .collection-row .collection-col .collection-row-inner .collection-col-inner {
      padding: 12px 0 0;
    }
    .collection-row .collection-col .badge{
      font-size: 14px;
      line-height: 20px;
      padding:3px 12px 1px;
    }
   .custom-collection .product-card .product-card__title{
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.32px;
    }
    .custom-collection .product-card .product-card__swatches{
      column-gap: 4px;
      row-gap: 4px;
    }
    .custom-collection .product-card .product-card__swatches button{
      font-size: 10px;
      line-height: 12px;
      color: #5B4D33;
    }
    .custom-collection .product-card .product-card__swatches .product-card__swatch{
      width: 14px;
      height: 14px;
    }
    .custom-collection .product-card .text-link span {
      top:3px;
    }
    .custom-collection .product-card .product-card__swatches {
      margin-top: 6px;
      margin-bottom: 16px;
    }
  }

  @media (max-width:768px){
     .collection-row .collection-col h6 {
       font-size:20px !important;
       margin: 0px 0 0px;
    }
  }

   @media (max-width:480px){
     .custom-collection .product-card .text-link {
       max-width: calc(100% - 8px);
        margin: 0 4px;
       text-align:center;
     }
   }

  @media (max-width:400px){
    .collection-row .collection-col{
      padding: 7px 12px 12px;
    }
    .collection-row .collection-col .collection-row-inner .collection-col-inner {
      padding: 12px 0 0;
    }
    .collection-row .collection-col .collection-row-inner {
      gap:12px;
    }

  }

  .custom-collection .product-card__image-label, 
  .custom-collection .product-card__price {
    display:none;
  }


  /* text section */
  .collection-col-inner.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
  }
  
  .collection-col-inner.text .title {
    font-size: 14px;
    font-weight: 600;
  }

  .collection-col-inner.text .the_problem_content {
    font-size: 18px;
    color: #30383d;
    line-height: 32px;
  }

  .collection-col-inner.text .the_solution_content {
    font-size: 14px;
    color: #30383d;
    margin-bottom: 8px;
  }

  .collection-col-inner.text .text-link {
    font-size: 13px;
  }

  @media (min-width: 768px) {
    .collection-col-inner.text .text-link {
      font-size: 16px;
    }    
  }

  @media (min-width: 1250px) {
    .collection-col-inner.text .title {
      font-size: 18px;
    }

    .collection-col-inner.text .the_problem_content {
      font-size: 28px;
    }

    .collection-col-inner.text .the_solution_content {
      font-size: 20px;
    }    
  }  

  /* footer image block */
  .collection-row .collection-col .collection-row-inner .collection-col-inner.image {
    padding-top: 0;
    grid-column: 1 / span 2;
  }  


  /* update columns order */
  .collection-col.index-1 .collection-col-inner.product {
    order: 2;
  }
  
  .collection-col.index-1 .collection-col-inner.text {
    order: 1;
  }
  
  .collection-col.index-1 .collection-col-inner.image {
    order: 3;
  }  

  @media (max-width: 990px) {
    .collection-col.index-0 .collection-col-inner.product {
      order: 2;
    }
    
    .collection-col.index-0 .collection-col-inner.text {
      order: 1;
    }
    
    .collection-col.index-0 .collection-col-inner.image {
      order: 3;
    }      
  }
</style>

<div class="custom-collection">
  <div class="page-width">
    {%- if section.settings.title != blank -%}
      <header class="SectionHeader text-center">
        {%- if section.settings.title != blank -%}
          <h2 class="SectionHeader__Heading">{{ section.settings.title }}</h2>
        {%- endif -%}

        {% if section.settings.subtitle %}
          <p>{{ section.settings.subtitle }}</p>
        {% endif %}
      </header>
    {%- endif -%}

    <div class="collection-row">
      {%- for block in section.blocks -%}
        <div class="collection-col index-{{ forloop.index0 }}">
          <h6><b>{{ block.settings.title }}</b></h6>

          <div class="collection-row-inner">
            {% for product in block.settings.collection1.products limit: 1 %}
              {% for collection in product.collections %}
                {% if collection.title contains ' |' %}
                  {% assign grouped_collection = collection %}
                {% endif %}
              {% endfor %}
              <div class="collection-col-inner product">
                <p class="badge">
                  {{- block.settings.badge1 -}}
                </p>
                {% render 'product-card-custom',
                  product_card_product: block.settings.product1,
                  collection: grouped_collection,
                  title: block.settings.product1_title,
                  button_text: section.settings.button_text,
                  custom_image: block.settings.product_image1
                %}
              </div>
            {% endfor %}
            
            <div class="collection-col-inner text">
              <div class="problem">              
                {% if block.settings.the_problem_title != blank %}
                  <p class="title">{{ block.settings.the_problem_title }}</p>
                {% endif %}
  
                {% if block.settings.the_problem_content != blank %}
                  <p class="the_problem_content">{{ block.settings.the_problem_content }}</p>
                {% endif %}
              </div>

              <div class="solution">              
                {% if block.settings.the_solution_title != blank %}
                  <p class="title">{{ block.settings.the_solution_title }}</p>
                {% endif %}
  
                {% if block.settings.the_solution_content != blank %}
                  <p class="the_solution_content">{{ block.settings.the_solution_content }}</p>
                {% endif %}

                <a class="text-link gold-secondary--dark" href="{{ block.settings.link_url }}">
                  {{ block.settings.link_text }}
                </a>
              </div>
            </div>

            <div class="collection-col-inner image">
              {{ block.settings.footer_image | image_url: width: 900 | image_tag: width: '100%' }}
            </div>
        
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "LP Custom Collections",
  "class": "LP-custom-collections",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    }
  ],
  "blocks": [
  {
   "type": "block",
   "name": "Collection-col",
   "limit":4,
   "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Enter type"
      },
     {
        "type": "header",
        "content": "Image"
      },
       {
        "type": "text",
        "id": "badge1",
        "label": "Enter Badge"
      },
      {
        "type": "text",
        "id": "product1_title",
        "label": "Product title"
      },
      {
        "type": "collection",
        "id": "collection1",
        "label": "Collection"
      },
      {
        "type": "product",
        "id": "product1",
        "label": "Product"
      },
      {
        "type": "image_picker",
        "id": "product_image1",
        "label": "Product image"
      },
     {
        "type": "header",
        "content": "Text"
      },
      {
        "type": "text",
        "id": "the_problem_title",
        "label": "The problem title"
      },
      {
        "type": "text",
        "id": "the_problem_content",
        "label": "The problem content"
      },
      {
        "type": "text",
        "id": "the_solution_title",
        "label": "The solution title"
      },
      {
        "type": "text",
        "id": "the_solution_content",
        "label": "The solution content"
      },
      {
        "type": "text",
        "id": "link_text",
        "label": "Link text"
      },
      {
        "type": "url",
        "id": "link_url",
        "label": "Link url"
      },
     {
        "type": "header",
        "content": "Footer image"
      },
      {
        "type": "image_picker",
        "id": "footer_image",
        "label": "Footer image"
      }     
    ]
  }

],
  "presets": [
  {
    "name": "LP Custom Collections",
    "settings": {}
  }
]
}
{% endschema %}
