{% style %}
  .columns-wrap {
      display: grid;
      justify-content: center;
  }
  
  .columns-wrap .col {
      text-align: center;
  }
  
  @media (min-width: 989px) {
      .columns-wrap {
          grid-template-columns: 1fr 1fr;
      }    
  }  
{% endstyle %}

<div class="page-width">
  <div class="columns-wrap">
    {% for block in section.blocks %}
      <div class="col">
        <div class="column-image">
          {% if block.settings.column_badge != blank %}
            <p>{{ block.settings.column_badge }}</p>
          {% endif %}

          {% if block.settings.column_image != blank %}
            {{ block.settings.column_image | image_url: width: 900 | image_tag: width: '100%' }}
          {% endif %}
        </div>
        <div class="column-content">
          {% if block.settings.column_title != blank %}
            <h5>{{ block.settings.column_title }}</h5>
          {% endif %}
      
          <div class="column-btn-group">
            {% if block.settings.button_1_text != blank %}
              <a href="{{ block.settings.button_1_url }}" class="button">
                {{ block.settings.button_1_text }}
              </a>
            {% endif %}
      
            {% if block.settings.button_2_text != blank %}
              <a href="{{ block.settings.button_2_url }}" class="button">
                {{ block.settings.button_2_text }}
              </a>
            {% endif %}
      
            {% if block.settings.button_3_text != blank %}
              <a href="{{ block.settings.button_3_url }}" class="button">
                {{ block.settings.button_3_text }}
              </a>
            {% endif %}
      
          </div>
        </div>
      </div>
    {% endfor %}  
  </div>
</div>

{% schema %}
  {
    "name": "LP Columns with buttons",
    "class": "LP-columns-with-buttons with-spacing",
    "settings": [],
     "blocks": [
      {
       "type": "block",
       "name": "Column",
       "limit": 2,
       "settings": [
          {
            "type": "text",
            "id": "column_badge",
            "label": "Column badge"
          },         
          {
            "type": "image_picker",
            "id": "column_image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "column_title",
            "label": "Column title"
          },
          {
            "type": "text",
            "id": "button_1_text",
            "label": "Button 1 text"
          },
          {
            "type": "url",
            "id": "button_1_url",
            "label": "Button 1 url"
          },
          {
            "type": "text",
            "id": "button_2_text",
            "label": "Button 2 text"
          },
          {
            "type": "url",
            "id": "button_2_url",
            "label": "Button 2 url"
          },
          {
            "type": "text",
            "id": "button_3_text",
            "label": "Button 3 text"
          },
          {
            "type": "url",
            "id": "button_3_url",
            "label": "Button 3 url"
          }          
        ]
      }
    ],
    "presets": [
    {
      "name": "LP Columns with buttons",
      "settings": {}
    }
  ]    
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}