{% style %}
  .LP-shop-by-size .page-width{
    padding-top: 56px;
    padding-bottom: 56px;
  }

  .LP-shop-by-size .column-wrap {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 12px;
  }

  .LP-shop-by-size .column-wrap .right-side {
    display: flex;
    gap: 12px;
    flex-direction: column;
  }

  .LP-shop-by-size .icon-wrapper {
    display: grid;
    gap: 32px;
    margin-top: 48px;
  }
  
  .LP-shop-by-size .icon-text-content {
    background: #EEEFEF;
    display: flex;
    align-items: center;
    
    height: 60px;
  }

  @media (min-width: 600px) {
    .LP-shop-by-size .icon-text-content {
      height: 120px
    }    
  }
  
  @media (min-width: 990px) {
    .LP-shop-by-size .icon-wrapper {
      grid-template-columns: 1fr 1fr;
    }    
  }    

  @media (max-width: 990px) {
    .LP-shop-by-size .column-wrap:last-of-type img {
      order: 2;
    }

    .LP-shop-by-size .column-wrap:last-of-type .right-side {
      order: 1;
    }
  }
  
  .LP-shop-by-size .icon-type {
    height: 100%;
    display: flex;
    width: 110px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #546B82;
  }

  .LP-shop-by-size .icon_text {
    width: 100%;
    text-align: center;
  }  
  
  .LP-shop-by-size .icon-text-content p {
    color: #546B82;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.28px;
    min-width: 144px;
  }

  .LP-shop-by-size .icon_text .size {
    color: #000;
  }

  .LP-shop-by-size .icon-text-content a{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
  }

  .LP-shop-by-size .icon-type .type-1{
    border: 2px solid #725413;
    height: 33px;
    width: 46px;
  }
  
  .LP-shop-by-size .icon-type .type-2{
    width: 37px;
    height: 98px;    
    border: 2px solid #725413;
  }
  
  .LP-shop-by-size .icon-type .type-3{
    width: 61px;
    height: 91.5px;
    border: 2px solid #725413;
  }  
  
  @media (max-width:760px){
    .LP-shop-by-size .page-width{
      padding-top: 40px;
      padding-bottom: 40px;
    }
    
    .LP-shop-by-size .icon-type{
      width: 100%;
    }
    
    .LP-shop-by-size .icon-text-content p{
      font-size: 13px;
      letter-spacing: 0.26px;
      min-width:unset;
      width: 100%;
    }
    .LP-shop-by-size .icon-type .type-1{
      height: 27.391px;
      width: 42px;
    }
    .LP-shop-by-size .icon-type .type-2{
      width: 26.429px;
      height: 70px;      
    }
    .LP-shop-by-size .icon-type .type-3{
      width: 42.333px;
      height: 63.5px;
    }
  }  
{% endstyle %}

<div class="page-width">
  {%- if section.settings.title != blank or section.settings.content != blank -%}
    <header class="SectionHeader text-center">
      {%- if section.settings.title != blank -%}
        <h2 class="SectionHeader__Heading">{{ section.settings.title }}</h2>
      {%- endif -%}
      {%- if section.settings.link_text != blank -%}
        <div class="link-text">
          <a href="{{ section.settings.link_url }}" class="text-link gold-secondary--dark">
            {{- section.settings.link_text | escape -}}
          </a>
        </div>
      {%- endif -%}
    </header>
  {%- endif -%}
  
  <div class="icon-wrapper">

    {%- for block in section.blocks -%}
      <div class="column-wrap">
        {{ block.settings.column_image | image_url: width: 900 | image_tag: width: '100%' }}

        <div class="right-side">
          <h4>{{ block.settings.column_title }}</h4>
      
          <div class="icon-text-content ">
            <a href="{{ block.settings.block_url_1 }}">
              <div class="icon-type">
                  <span class="type-1"></span>
              </div>
              <div class="icon_text">
                <p class="type">{{ block.settings.block_type_1 }}</p>
                <p class="size">{{ block.settings.block_size_1 }}</p>
              </div>
            </a>
          </div>
        
          <div class="icon-text-content ">
            <a href="{{ block.settings.block_url_2 }}">
              <div class="icon-type">
                  <span class="type-2"></span>
              </div>
              <div class="icon_text">
                <p class="type">{{ block.settings.block_type_2 }}</p>
                <p class="size">{{ block.settings.block_size_2 }}</p>
              </div>
            </a>
          </div>      
    
          <div class="icon-text-content ">
            <a href="{{ block.settings.block_url_3 }}">
              <div class="icon-type">
                  <span class="type-3"></span>
              </div>
              <div class="icon_text">
                <p class="type">{{ block.settings.block_type_3 }}</p>
                <p class="size">{{ block.settings.block_size_3 }}</p>
              </div>
            </a>
          </div>            
        </div>
      </div>
    {% endfor %}
    
  </div>
</div>

{% schema %}
  {
    "name": "LP Shop by size",
    "class": "LP-shop-by-size",
    "settings": [
      {
        "type": "text",
        "id": "custom-class",
        "label": "custom-class"
      },
      {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Title"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link text"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL"
    }
      
    ],
     "blocks": [
    {
     "type": "block",
     "name": "Size",
     "limit": 4,
     "settings": [
        {
          "type": "image_picker",
          "id": "column_image",
          "label": "Image"
        },       
        {
          "type": "text",
          "id": "column_title",
          "label": "Column title"
        },
        {
          "type": "text",
          "id": "block_type_1",
          "label": "Enter type 1"
        },
        {
          "type": "text",
          "id": "block_size_1",
          "label": "Enter size 1"
        },
        {
          "type": "url",
          "id": "block_url_1",
          "label": "Add link 1"
        },
        {
          "type": "text",
          "id": "block_type_2",
          "label": "Enter type 2"
        },
        {
          "type": "text",
          "id": "block_size_2",
          "label": "Enter size 2"
        },
        {
          "type": "url",
          "id": "block_url_2",
          "label": "Add link 2"
        },
        {
          "type": "text",
          "id": "block_type_3",
          "label": "Enter type 3"
        },
        {
          "type": "text",
          "id": "block_size_3",
          "label": "Enter size 3"
        },
        {
          "type": "url",
          "id": "block_url_3",
          "label": "Add link 3"
        }       
      ]
    }
  
  ],
    "presets": [
    {
      "name": "LP Shop by size",
      "settings": {}
    }
  ]
  }
{% endschema %}
