{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

{% liquid
  assign image = collection.metafields.custom.hero_image
  assign mobile_image = collection.metafields.custom.mobile_image
%}

<div class="collection-hero{% if section.settings.show_collection_image and image %} collection-hero--with-image{% endif %}">
  <div class="collection-hero__inner{% unless section.settings.full_width %} page-width{% endunless %}">
    <div class="collection-hero__text-wrapper{% if image != blank %} collection-hero__text-wrapper--overlay{% endif %}">
      <h1 class="collection-hero__title">
        {{- collection.title | escape -}}
      </h1>

      {% if section.settings.show_collection_description and collection.description != blank %}
        <div class="collection-hero__description rte">{{ collection.description }}</div>
      {% endif %}
    </div>

    {% if mobile_image != blank %}
      <div class="collection-hero__image-container media">
        <img
          srcset="{% if image.width >= 165 %}{{ image | img_url: '165x' }} 165w,{% endif %}
            {% if image.width >= 360 %}{{ image | img_url: '360x' }} 360w,{% endif %}
            {% if image.width >= 535 %}{{ image | img_url: '535x' }} 535w,{% endif %}
            {% if image.width >= 750 %}{{ image | img_url: '750x' }} 750w,{% endif %}
            {% if image.width >= 1070 %}{{ image | img_url: '1070x' }} 1070w,{% endif %}
            {% if image.width >= 1500 %}{{ image | img_url: '1500x' }} 1500w,{% endif %}
            {{ image | img_url: 'master' }} {{ image.width }}w"
          src="{{ image | img_url: '1500x' }}"
          sizes="100vw"
          alt="{{ collection.title | escape }}"
          loading="lazy"
          width="{{ image.width }}"
          height="{{ image.height }}"
        >
      </div>
    {% elsif image != blank %}
      
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width?"
    }
  ],
  "presets": [
    {
      "category": "Banner",
      "name": "t:sections.main-collection-banner.name",
      "settings": {}
    }
  ]
}
{% endschema %}
