{{ 'component-product-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'section-product-carousel.css' | asset_url | stylesheet_tag }}

<div class="product-carousel__inner">
  <div class="product-carousel__heading">
    <h2 class="blue">{{ section.settings.heading }}</h2>
  </div>

  <product-carousel>
    <div class="product-carousel__container swiper">
      <div class="swiper-pagination product-carousel__pagination"></div>
      <div class="swiper-wrapper">
        {% for product in section.settings.collection.products %}
          {% for collection in product.collections %}
            {% if collection.title contains ' | ' %}
              {% assign grouped_collection = collection %}
            {% endif %}
          {% endfor %}
          <div class="product-carousel__item swiper-slide">
            {% render 'grouped-product-card',
              product_card_product: product,
              collection: grouped_collection,
              title: grouped_collection.title,
              button_text: section.settings.button_text
            %}
          </div>
        {% endfor %}
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </product-carousel>
</div>

<style>
  {% if section.settings.background != blank %}
    #shopify-section-{{section.id }}.product-carousel {
      background: {{ section.settings.background }};
    }
  {% endif %}
</style>

{% schema %}
{
  "name": "Product Carousel",
  "tag": "section",
  "class": "product-carousel with-spacing",
  "settings": [
    {
      "type": "textarea",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "Shop Now"
    }
  ],
  "presets": [
    {
      "name": "Product Carousel"
    }
  ]
}
{% endschema %}
