{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

{% liquid
  assign image = collection.metafields.custom.hero_image
  assign mobile_image = collection.metafields.custom.mobile_hero_image
%}

{% unless section.settings.show_title %}
<div class="collection-hero__container">
  <h1 class="collection-hero__title">
    {{- collection.title | escape -}}
  </h1>
</div>
{% endunless %}
<div class="collection-hero{% if section.settings.show_collection_image and image %} collection-hero--with-image{% endif %}">
  <div class="{% unless section.settings.full_width %} page-width{% endunless %}">
    <div class="collection-hero__inner">
      <div class="collection-hero__text-wrapper{% if image != blank %} collection-hero__text-wrapper--overlay{% endif %}">
        {% if section.settings.show_title %}
        <h1 class="collection-hero__title">
          {{- collection.title | escape -}}
        </h1>
        {% endif %}

        {% if section.settings.show_collection_description and collection.description != blank %}
          <div class="collection-hero__description rte">{{ collection.description }}</div>
        {% endif %}
      </div>

      {% if image != blank and mobile_image != blank %}
        {{ image | image_url: width: 1500 | image_tag: preload: true, width: image.width, class: 'desktop-image hide-mobile', sizes: '1500px', widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000' }}
        {{ mobile_image | image_url: width: 1100 | image_tag: preload: true, width: mobile_image.width, class: 'mobile-image hide-desktop', sizes: '1100px', widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000' }}
      {% elsif image != blank %}
        {{ image | image_url: width: 1500 | image_tag: preload: true, width: image.width, class: 'desktop-image hide-mobile', sizes: '1500px', widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000' }}
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_title",
      "label": "Show collection title on image?"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width?"
    }
  ],
  "presets": [
    {
      "category": "Banner",
      "name": "t:sections.main-collection-banner.name",
      "settings": {}
    }
  ]
}
{% endschema %}
