<style type="text/css">
  .template-404 .title + * {
    margin-top: 1rem;
  }

  .template-404 {
    height: 60vh;
  }

  .error_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .error_container > * {
    width: fit-content;
  }
  
  .template-404 .template-404 {
    padding: 100px 0;
    text-align: center;
  }

  .template-404 .button {
    display: inline-block;
  }

  .template-404 .h1 {
    font-size: 85px;
  }

  #{{ section.id }} .Page_Header {
    height: 186px;
  }

  @media screen and (min-width: 769px) {

    .template-404 .template-404 {
      padding: 60px 0;
    }
    
    .template-404 .title + * {
      margin-top: 2rem;
    }

    #{{ section.id }} .Page_Header {
      height: {{ section.settings.section_height }}px;
    }

    .template-404 .h1 {
      font-size: 150px;
    }

  }
</style>

{% liquid
  if section.settings.color == 'orange'
    assign fan-motif = 'fan-motif--orange.png' | asset_url
    assign background = 'fan-motif-background--orange.jpg' | asset_url
  else
    assign fan-motif = 'fan-motif--green.png' | asset_url
    assign background = 'fan-motif-background--green.jpg' | asset_url
  endif
%}

<div id="{{ section.id }}" class="Page_Header" style="background-image:url({{ section.settings.image | img_url : '1920x' }});">
  <div class="template-404 page-margin center"style="background-color:{{ section.settings.bg_color }}">
    <div class="error_container">
      <div class="fan-motif__motif">
        <img src="{{ fan-motif }}" width="67" alt="Fan motif">
      </div>   
      <h1 class="h1 blue">
        {{ 'templates.404.subtext' | t }}
      </h1>
      <h3 class="h3 title blue">
        {{ 'templates.404.title' | t }}
      </h3>
      <a href="{{ routes.all_products_collection_url }}" class="button">
        {{ 'general.continue_shopping' | t }}
      </a>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "404 Page",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "color",
      "label": "Color",
      "options": [
        {
          "label": "Orange and blue",
          "value": "orange"
        },
        {
          "label": "Green",
          "value": "green"
        }
      ],
      "default": "orange"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background Image"
    },
    {
      "type": "select",
      "id": "section_height",
      "label": "Section Height",
      "options": [
        {
          "label": "250",
          "value": "250"
        },
        {
          "label": "350",
          "value": "350"
        },
        {
          "label": "450",
          "value": "450"
        },
        {
          "label": "550",
          "value": "550"
        }
      ],
      "default": "350"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#F4F2EE"
    }
  ]
}
{% endschema %}
