<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

<div class="Page_Wrapper" id="{{ section.id }}">
  <div class="Page_Header" style="background-image:url({{ section.settings.image | img_url : 'original' }});text-align:{{ section.settings.alignment }};">
    <div class="Page_Header_Inner" style="background-color:{{ section.settings.bg_color }}">
      <h1 class="main-page-title page-title h0">
        {{ page.title | escape }}
      </h1>
    </div>
  </div>
  
  <div class="page-width page-width--narrow Page_Rte">
    <div class="rte">
      {{ page.content }}
    </div>
  </div>
</div>

<style>

  #{{ section.id }} .Page_Header {
    height: {{ section.settings.section_height }}px;
  }
  
</style>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background Image"
    },
    {
      "type": "select",
      "id": "section_height",
      "label": "Section Height",
      "options": [
        {
          "label": "250",
          "value": "250"
        },
        {
          "label": "350",
          "value": "350"
        },
        {
          "label": "450",
          "value": "450"
        },
        {
          "label": "550",
          "value": "550"
        }
      ],
      "default": "350"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#F4F2EE"
    }
  ]
}
{% endschema %}
