{{ 'section-meet-founder.css' | asset_url | stylesheet_tag }}

<section class="meet-founder">
  <div class="meet-founder__background">
    <div class="meet-founder__inner meet-founder__layout-{{ section.settings.alignment }}">
      <div class="meet-founder__content-wrapper">
        <div class="signature-svg">
          {% render 'signature' %}
        </div>
        {% if section.settings.heading != blank %}
          <h2 class="meet-founder__heading">{{ section.settings.heading | newline_to_br }}</h2>
        {% endif %}

        {% if section.settings.text != blank %}
          <p class="body">{{ section.settings.text }}</p>
        {% endif %}

        {% if section.settings.link != blank and section.settings.link_text != blank %}
          <a href="{{ section.settings.link }}" class="text-link gold-secondary--dark">
            {{- section.settings.link_text }} ></a
          >
        {% endif %}
      </div>

      {% if section.settings.image != blank %}
        <div class="meet-founder__image-wrapper">
          {{ section.settings.image | image_url: width: 1000 | image_tag }}
        </div>
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Meet Our Founder",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Content Alignment",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "textarea",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link text"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "Only for Left or Right layout alignments"
    }
  ],
  "presets": [
    {
      "name": "Meet Our Founder"
    }
  ]
}
{% endschema %}
