<div class="page-width">
   <header class="SectionHeader">
    {%- if section.settings.title != blank -%}
      <h4 class="SectionHeader__Heading">{{ section.settings.title }}</h4>
    {%- endif -%}
    {%- if section.settings.link_text != blank -%}
      <div class="link-div"><a href="{{ section.settings.link_url }}" class="Link Link--underline">{{ section.settings.link_text | escape }}</a></div>
    {%- endif -%}
  </header>

  <div class="collection-navigation-with-slider">
    <div class="collection-navigation">
      <ul>
        {%- for block in section.blocks -%}
          <li><a href="javascript:void(0)" class="tab-a active-a" data-id="tab1">{{ block.settings.title }}</a></li>
          <li><a href="javascript:void(0)" class="tab-a" data-id="tab2">FRONT DOOR</a></li>
          <li><a href="javascript:void(0)" class="tab-a" data-id="tab3">ENTRY</a></li>
          <li><a href="javascript:void(0)" class="tab-a" data-id="tab4">HALLWAY</a></li>
          <li><a href="javascript:void(0)" class="tab-a" data-id="tab5">MUDROOM</a></li>
          {% endfor %}
      </ul>
   </div>
{% assign strlngt = 0 %}
{%- for block in section.blocks -%}
{% assign strlngt = strlngt | plus:1 %}
   <div class="products-section {% if strlngt ==1 %}tab-active{% endif %}" data-id="tab{{strlngt}}">
           <h6>{{ block.settings.title }}</h6>
          <div class="swiper{{strlngt}}">
            <div class="swiper-wrapper">
      {% for product in block.settings.collection.products limit: 20 %}
      {% for collection in product.collections %}
        {% if collection.title contains ' |' %}
          {% assign grouped_collection = collection %}
        {% endif %}
      {% endfor %}
      <div class="product-carousel__item swiper-slide">
          <div class="product-card custom-product-card">
        {% render 'product-card-custom',
          product_card_product: product,
          collection: grouped_collection,
          title: grouped_collection.title,
          button_text: section.settings.button_text
        %}
      </div>
      </div>
    {% endfor %}
      </div>
       <div class="swiper-button-prev swiper-button-prev{{strlngt}}"></div>
        <div class="swiper-button-next swiper-button-next{{strlngt}}"></div>
   </div>
</div>
{%  endfor %}
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
  $(document).ready(function(){ 
      $('.tab-a').click(function(){  
        $(".products-section").removeClass('tab-active');
        $(".products-section[data-id='"+$(this).attr('data-id')+"']").addClass("tab-active");
        $(".tab-a").removeClass('active-a');
        $(this).parent().find(".tab-a").addClass('active-a');
       });
  });

   $(document).ready(function() {
      new Swiper('.swiper1', {
          loop: false,
          slidesPerView: 2.2,
          paginationClickable: false,
          spaceBetween: 12,
        navigation: {
              nextEl: '.swiper-button-next',
              prevEl: '.swiper-button-prev',
          },
          breakpoints: {
          990: {
            slidesPerView: 3.4,
            spaceBetween: 20,
          },
          1200: {
            slidesPerView: 4.4
          },
        }
      });
     new Swiper('.swiper2', {
          loop: false,
          slidesPerView: 2.2,
          paginationClickable: false,
          spaceBetween: 12,
        navigation: {
              nextEl: '.swiper-button-next',
              prevEl: '.swiper-button-prev',
          },
         breakpoints: {
          990: {
            slidesPerView: 3.4,
            spaceBetween: 20,
          },
          1200: {
            slidesPerView: 4.4
          },
        }
      });
     new Swiper('.swiper3', {
          loop: false,
          slidesPerView: 2.2,
          paginationClickable: false,
          spaceBetween: 12,
        navigation: {
              nextEl: '.swiper-button-next',
              prevEl: '.swiper-button-prev',
          },
         breakpoints: {
          990: {
            slidesPerView: 3.4,
            spaceBetween: 20,
          },
          1200: {
            slidesPerView: 4.4
          },
        }
      });
     new Swiper('.swiper4', {
          loop: false,
          slidesPerView: 2.2,
          paginationClickable: false,
          spaceBetween: 12,
        navigation: {
              nextEl: '.swiper-button-next',
              prevEl: '.swiper-button-prev',
          },
         breakpoints: {
          990: {
            slidesPerView: 3.4,
            spaceBetween: 20,
          },
          1200: {
            slidesPerView: 4.4
          },
        }
      });
     new Swiper('.swiper5', {
          loop: false,
          slidesPerView: 2.2,
          paginationClickable: false,
          spaceBetween: 12,
        navigation: {
              nextEl: '.swiper-button-next',
              prevEl: '.swiper-button-prev',
          },
         breakpoints: {
          990: {
            slidesPerView: 3.4,
            spaceBetween: 20,
          },
          1200: {
            slidesPerView: 4.4
          },
        }
      });
  });

  
</script>
<style>

 .multi-product-slider .custom-product-card .product-content .product-card__title{
    color:#546B82;
 }
  .products-section{
    position:relative;
  }
  .collection-navigation{}
  .collection-navigation ul{
  	margin: 0;
  	padding: 0;
  }
  .collection-navigation ul li{
  	list-style-type: none;
  	display: inline-block;
  }
 
  .products-section{
  	display: none;
  }
  .products-section h2{
  	color: rgba(0,0,0,.7);
  }
  .products-section p{
  	color: rgba(0,0,0,0.6);
  	text-align: justify;
  }
  .tab-active{
  	display: block;
  }
   .swiper{
    width:100%;
    height:100%;
  }
  .multi-product-slider{
    background: #F4F2EE;
    padding: 56px 0 80px;
  }
  .multi-product-slider .link-div{
    padding:10px 0;
  }
  .multi-product-slider .SectionHeader{
    margin-bottom:20px;
  }
  .multi-product-slider .custom-product-card{
    display:block;
    border: 1px solid #D9D3C4;
    background: #FFF;
    padding:12px;
  }
  .multi-product-slider .custom-product-card .product-content{
    width: auto;
    text-align: center;
  }

  /* .multi-product-slider .collection-navigation-with-slider{
    overflow:hidden
  } */

  .multi-product-slider .collection-navigation {
    padding: 0px 0 40px;
  }
  .multi-product-slider .collection-navigation ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--blue);
    z-index: 1;
    position: relative;
    width: fit-content;
    justify-content: center;
    margin: 0 auto;
    gap: 80px;
  }
  .multi-product-slider .collection-navigation ul li{
    padding: 0 0 16px;
  }
  .multi-product-slider .collection-navigation ul li a{
    flex: 1;
    text-transform: uppercase;
    position: relative;
    transition: all .3s ease;
    color: #546B82;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.64px;
    padding: 16px 24px;
  }
  .multi-product-slider .collection-navigation ul li a.active-a {
    font-weight: 500;
  }
  
  .multi-product-slider .collection-navigation ul li a.active-a:before {
    position: absolute;
    content: "";
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 5px;
    background: var(--blue);
    transform: translateY(100%);
  }
  
  .multi-product-slider .collection-navigation ul li a.active-a:after {
    position: absolute;
    content: url("data:image/svg+xml,%3Csvg width='21' height='10' viewBox='0 0 21 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 10L0.54071 0.25L20.4593 0.249998L10.5 10Z' fill='%23546B82'/%3E%3C/svg%3E%0A");
    bottom: 1px;
    left: 50%;
    height: 13px;
    width: auto;
    transform: translate(-50%, 100%);
  }
  .multi-product-slider .custom-product-card .product-card__title{
    text-align: left;
  }
  .multi-product-slider .custom-product-card .product-card__swatches{
    justify-content: flex-start;
  }
  .multi-product-slider .custom-product-card .text-link{
    background: #D1BD93;
    color: #FFF;
    border:0px;
    padding: 8.8px 16px 8px;
  }
  .multi-product-slider .custom-product-card .text-link span{
    display:none;
  }
   .multi-product-slider .swiper-button-next:after,  .multi-product-slider .swiper-rtl .swiper-button-prev:after{
    content:"" !important;
     background:url('https://cdn.shopify.com/s/files/1/0084/8602/7327/files/Frame_80.svg?v=1694764035');
  width: 28px;
    height: 28px;
    background-size: 28px;
    position: absolute;
    background-position: center;
  }
  .multi-product-slider .swiper-button-prev:after, .multi-product-slider .swiper-rtl .swiper-button-next:after{
    content:"" !important;
  background:url('https://cdn.shopify.com/s/files/1/0084/8602/7327/files/Frame_78.svg?v=1694764036');
  width: 28px;
    height: 28px;
    background-size: 28px;
    position: absolute;
    background-position: center;
  }
   .multi-product-slider .swiper-button-next, .multi-product-slider .swiper-button-prev{
     z-index:5;
   }
  .multi-product-slider .custom-product-card .product-content{
    padding: 12px 0 6px;
    border: 0px;
  }

  @media (max-width:1200px){
    .multi-product-slider .collection-navigation ul{
      gap:20px;
    }
  }

  @media (max-width:990px){
    .multi-product-slider .collection-navigation ul{
      gap:0px;
    }
    .multi-product-slider{
      padding:40px 0 48px;
    }
    /* .multi-product-slider .link-div {
    padding: 6px 0;
  } */
    .multi-product-slider .SectionHeader {
    margin-bottom: 10px;
  }

    .multi-product-slider .collection-navigation-with-slider{
      overflow: hidden;
    }
    .multi-product-slider .swiper-button-next,
    .multi-product-slider .swiper-button-prev{
      
    }
    
  }
  @media (max-width:767px){
    .multi-product-slider .collection-navigation{
       overflow-x: auto;
    }
    .multi-product-slider .collection-navigation::-webkit-scrollbar{
      display:none;
    }
    .multi-product-slider .collection-navigation ul li{
      width: max-content;
    }
    .multi-product-slider .collection-navigation ul li a{
      padding: 12px 20px;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.56px;
    }
    .multi-product-slider .collection-navigation{
    padding:0 0 32px;
    }
    header.SectionHeader .SectionHeader__Heading{
       font-size:32px;
    }
  }

  
</style>

{% schema %}
  {
    "name": "Multi Product Slider",
    "class": "multi-product-slider",
    "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Add Title..."
    },

    {
      "type": "text",
      "id": "link_text",
      "label": "Link text"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL"
    }
    ],
    "blocks": [
    {
     "type": "block",
     "name": "Collection",
     "limit":5,
     "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Tab Title"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }

  ],
    "presets": [
    {
      "name": "Multi Product Slider"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
  
{% endjavascript %}

