{{ 'porter-hall-video-text.css' | asset_url | stylesheet_tag: preload: true }}

{% if section.settings.video != blank and section.settings.title != blank %}
<section class="finer-details-section" id="section--{{ section.id }}">
  <div class="page-width">
    <div class="content-wrapper">
      <div class="left">
        {{ section.settings.video | video_tag: autoplay: true, loop: false, muted: true, controls: false, playsinline:true, class: 'videos', id: 'video', image_size: '1000x' }}
      </div>  
      <div class="right">
        <h2 class="main-title">{{ section.settings.title }}</h2>
        {% if section.settings.subtitle != blank %}
          <p class="subtitle">{{ section.settings.subtitle }}</p>  
        {% endif %}
        {% if section.blocks.size > 0 %}
          <div class="feature-list">
            {% for block in section.blocks %}
              <div class="feature-item">
                <div class="feature-content">
                  <h3 class="feature-title">{{ block.settings.feature_title }}</h3>
                  <div class="feature-description">{{ block.settings.feature_description }}</div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endif %}

<style>
  {% if section.settings.remove_top_space %}
    #section--{{ section.id }} {
      padding-top: 0
    }
  {% endif %}
  {% if section.settings.remove_bottom_space %}
    #section--{{ section.id }} {
      padding-bottom: 0
    }
  {% endif %}
</style>

{% schema %}
{
  "name": "The Finer Details",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background"
    },
    {
      "type": "video",
      "id": "video",
      "label": "Video (default media if populated)"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Main Title",
      "default": "The Finer Details"
    },
    {
      "type": "textarea",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "What makes The Porter so unique? It’s the little things."
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "checkbox",
      "id": "remove_top_space",
      "label": "Remove Top Space"
    },
    {
      "type": "checkbox",
      "id": "remove_bottom_space",
      "label": "Remove Bottom Space"
    }
  ],
  "blocks": [
    {
      "type": "title_text",
      "name": "Feature Content",
      "settings": [
        {
          "type": "text",
          "id": "feature_title",
          "label": "Feature Title",
          "default": "Complex colors"
        },
        {
          "type": "richtext",
          "id": "feature_description",
          "label": "Feature Description",
          "default": "<p>We twisted two different yarn colors together to create a level of dimension that solid rope simply can’t match.</p>"
        }
      ]
    }
  ]
}
{% endschema %}