{{ 'porter-hall-colorways.css' | asset_url | stylesheet_tag: preload: true }}

{% if section.blocks.size > 0 %}
<section class="colorways-section" id="section--{{ section.id }}">
  <div class="content-wrapper">
  
    <h2 class="section-title">{{ section.settings.title }}</h2>

    <div class="colorways-grid {% if section.settings.mobile_slider %} colorways__slider swiper{% endif %}">
      {% if section.settings.mobile_slider %}
      <div class="swiper-wrapper">
      {% endif %}
      {% for block in section.blocks %}
        <div class="colorway-item{% if section.settings.mobile_slider %} swiper-slide{% endif %}">
          <figure>
            {{ section.settings.image_1 | image_url: width: 1200 | image_tag: width: "100%", loading: "lazy", alt: section.settings.image_1.alt }}
          </figure>
          <h3 class="colorway-name">{{ section.settings.color_name_1 }}</h3>
          <p class="colorway-size">size: {{ section.settings.color_size_1 }}</p>
          <p class="colorway-note">{{ section.settings.color_note_1 }}</p>
        </div>
      {% endfor %}
      {% if section.settings.mobile_slider %}
      </div>
      {% endif %}
    </div>

    {% if section.settings.button_link != blank and section.settings.button_text != blank %}
      <div class="shop-now">
        <a href="{{ section.settings.button_link }}" class="shop-now-button">{{ section.settings.button_text }}</a>
      </div>
    {% endif %}
  </div>
</section>
{% endif %}


{% if section.settings.mobile_slider %}
<script>

  document.addEventListener("DOMContentLoaded", (event) => {
    var tradeSwiper = new Swiper(".trade__image--slider", {
      loop: true,
      slidesPerView: 3, 
    });       
  });
  
</script>
{% endif %}

{% schema %}
{
  "name": "Colorways Section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "3 Elegant Colorways"
    },
    {
      "type": "checkbox",
      "id": "mobile_slider",
      "label": "Mobile Slider"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link",
      "default": "/"
    }
  ],
  "blocks": [
    {
      "type": "color",
      "name": "Product Color",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "color_name",
          "label": "Color Name 3",
          "default": "Greystone"
        },
        {
          "type": "text",
          "id": "color_size",
          "label": "Color Size",
          "default": "Double 3' 6'"
        },
        {
          "type": "text",
          "id": "color_note",
          "label": "Color Note"
        },
      ]
    }
  ]
}
{% endschema %}