{{ 'porter-hall-video-text.css' | asset_url | stylesheet_tag: preload: true }}

{% if section.settings.video != blank and section.settings.title != blank %}
<section class="finer-details-section">
  <div class="page-width">
    <div class="content-wrapper">
      <div class="left">
        {{ section.settings.video | video_tag: autoplay: true, loop: false, muted: true, controls: false, playsinline:true, class: 'videos', id: 'video', image_size: '1000x' }}
      </div>  
      <div class="right">
        <h2 class="main-title">{{ section.settings.title }}</h2>
        {% if section.settings.subtitle != blank %}
          <p class="subtitle">{{ section.settings.subtitle }}</p>  
        {% endif %}
        {% if section.blocks.size > 0 %}
          <div class="feature-list">
            {% for block in section.blocks %}
              <div class="feature-item">
                <div class="feature-content">
                  <h3 class="feature-title">{{ block.settings.feature_title }}</h3>
                  <p class="feature-description">{{ block.settings.feature_description }}</p>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endif %}

{% schema %}
{
  "name": "The Finer Details",
  "settings": [
    {
      "type": "video",
      "id": "video",
      "label": "Video (default media if populated)"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Main Title",
      "default": "The Finer Details"
    },
    {
      "type": "textarea",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "What makes The Porter so unique? It’s the little things."
    },
    {
      "type": "text",
      "id": "feature_1_title",
      "label": "Feature 1 Title",
      "default": "Premium durable material"
    },
    {
      "type": "textarea",
      "id": "feature_1_description",
      "label": "Feature 1 Description",
      "default": "Our water-repellant rope is made of premium, all-weather Italian yarns and solution-dyed with a special blend of UV protectors, so your mat will look luxe (and resist sun fading) for years to come."
    },
    {
      "type": "text",
      "id": "feature_2_title",
      "label": "Feature 2 Title",
      "default": "Complex colors"
    },
    {
      "type": "textarea",
      "id": "feature_2_description",
      "label": "Feature 2 Description",
      "default": "We twisted two different yarn colors together to create a level of dimension that solid rope simply can’t match."
    }
  ],
  "blocks": [
    {
      "type": "title_text",
      "name": "Feature Content",
      "settings": [
        {
          "type": "text",
          "id": "feature_title",
          "label": "Feature Title",
          "default": "Complex colors"
        },
        {
          "type": "textarea",
          "id": "feature_description",
          "label": "Feature Description",
          "default": "We twisted two different yarn colors together to create a level of dimension that solid rope simply can’t match."
        }
      ]
    }
  ]
}
{% endschema %}