{{ 'component-product-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'section-product-carousel.css' | asset_url | stylesheet_tag }}

{% style %}
  .product-card .product-card__metafield-style {
    background: #546b82;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    padding: 4px 8px;
    border-radius: 24px;
    text-transform: uppercase;
    margin-top: 4px;
    margin-bottom: 4px;
  }
{% endstyle %}

<div class="product-carousel__inner product-carousel__new">
  <div class="product-carousel__heading">
    <h2 class="blue">{{ section.settings.heading }}</h2>
  </div>

    <div class="product-carousel__container-new product-carousel__container">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          {% for collection in block.settings.collections %}
            {% if collection.title contains ' |' %}
              {% assign grouped_collection = collection %}
            {% endif %}
          {% endfor %}
          <div class="product-carousel__item">
            {% render 'grouped-product-card-4',
              product_card_product: all_products[block.settings.product],
              collection: grouped_collection,
              title: grouped_collection.title
            %}
          </div>
        {% endfor %}
      </div>
    </div>
</div>

<style>
  {% if section.settings.background != blank %}
    #shopify-section-{{section.id }}.product-carousel {
      background: {{ section.settings.background }};
    }
  {% endif %}
</style>

{% schema %}
{
  "name": "Product Carousel 2",
  "tag": "section",
  "class": "product-carousel with-spacing",
  "settings": [
    {
      "type": "textarea",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "checkbox",
      "id": "show_metafield_style",
      "label": "Show metafield style",
      "default": false
    },    
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Grouped Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Carousel 2"
    }
  ]
}
{% endschema %}
