{{ 'shop-by-size.css' | asset_url | stylesheet_tag }}

<div class="page-width">
  <header class="SectionHeader">
   {%- if section.settings.title != blank -%}
     <h4 class="SectionHeader__Heading">{{ section.settings.title }}</h4>
   {%- endif -%}
   {%- if section.settings.link_text != blank -%}
     <div class="link-div"><a href="{{ section.settings.link_url }}" class="Link Link--underline">{{ section.settings.link_text | escape }}</a></div>
   {%- endif -%}
 </header>

 <div class="shop-by-size">
   <div class="shop-by-size__navigation">
     <ul>
       {% assign tab_index = 0 %}
       {%- for block in section.blocks -%}
         {% assign tab_index = tab_index | plus:1 %}
         <li>
            <a href="/" class="shop-by-size__tab {% if tab_index ==1 %}shop-by-size__tab--active {% endif %}" data-id="tab{{ tab_index }}">
              {{ block.settings.title }}
            </a>
          </li>
         {% endfor %}
     </ul>
  </div>
{% assign strlngt = 0 %}
{%- for block in section.blocks -%}
{% assign strlngt = strlngt | plus:1 %}
  <div class="products-section {% if strlngt ==1 %}tab-active{% endif %}" data-id="tab{{strlngt}}">
         <div class="swiper{{strlngt}}">
           <div class="swiper-wrapper">
     {% for product in block.settings.products limit: 20 %}
     {% for collection in product.collections %}
       {% if collection.title contains ' |' %}
         {% assign grouped_collection = collection %}
       {% endif %}
     {% endfor %}
     <div class="product-carousel__item swiper-slide">
         <div class="product-card custom-product-card">
       {% render 'product-card-custom',
         product_card_product: product,
         collection: grouped_collection,
         title: grouped_collection.title,
         button_text: section.settings.button_text,
         custom_image: product.metafields.custom.image_for_homepage
       %}
     </div>
     </div>
   {% endfor %}
     </div>
      <div class="swiper-button-prev swiper-button-prev{{strlngt}}"></div>
       <div class="swiper-button-next swiper-button-next{{strlngt}}"></div>
  </div>
</div>
{%  endfor %}
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
 $(document).ready(function(){ 
     $('.shop-by-size__tab').click(function(event){  
       event.preventDefault(); 
       $(".products-section").removeClass('tab-active');
       $(".products-section[data-id='"+$(this).attr('data-id')+"']").addClass("tab-active");
       $(".shop-by-size__tab").removeClass('shop-by-size__tab--active');
       $(this).parent().find(".shop-by-size__tab").addClass('shop-by-size__tab--active');
      });
 });

  $(document).ready(function() {
     new Swiper('.swiper1', {
         loop: false,
         slidesPerView: 2.2,
         paginationClickable: false,
         spaceBetween: 12,
       navigation: {
             nextEl: '.swiper-button-next',
             prevEl: '.swiper-button-prev',
         },
         breakpoints: {
         990: {
           slidesPerView: 3.4,
           spaceBetween: 20,
         },
         1200: {
           slidesPerView: 4.4
         },
       }
     });
    new Swiper('.swiper2', {
         loop: false,
         slidesPerView: 2.2,
         paginationClickable: false,
         spaceBetween: 12,
       navigation: {
             nextEl: '.swiper-button-next',
             prevEl: '.swiper-button-prev',
         },
        breakpoints: {
         990: {
           slidesPerView: 3.4,
           spaceBetween: 20,
         },
         1200: {
           slidesPerView: 4.4
         },
       }
     });
    new Swiper('.swiper3', {
         loop: false,
         slidesPerView: 2.2,
         paginationClickable: false,
         spaceBetween: 12,
       navigation: {
             nextEl: '.swiper-button-next',
             prevEl: '.swiper-button-prev',
         },
        breakpoints: {
         990: {
           slidesPerView: 3.4,
           spaceBetween: 20,
         },
         1200: {
           slidesPerView: 4.4
         },
       }
     });
    new Swiper('.swiper4', {
         loop: false,
         slidesPerView: 2.2,
         paginationClickable: false,
         spaceBetween: 12,
       navigation: {
             nextEl: '.swiper-button-next',
             prevEl: '.swiper-button-prev',
         },
        breakpoints: {
         990: {
           slidesPerView: 3.4,
           spaceBetween: 20,
         },
         1200: {
           slidesPerView: 4.4
         },
       }
     });
    new Swiper('.swiper5', {
         loop: false,
         slidesPerView: 2.2,
         paginationClickable: false,
         spaceBetween: 12,
       navigation: {
             nextEl: '.swiper-button-next',
             prevEl: '.swiper-button-prev',
         },
        breakpoints: {
         990: {
           slidesPerView: 3.4,
           spaceBetween: 20,
         },
         1200: {
           slidesPerView: 4.4
         },
       }
     });

   
 });

 
</script>

{% schema %}
  {
    "name": "Shop by size",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Add Title..."
      },
  
      {
        "type": "text",
        "id": "link_text",
        "label": "Link text"
      },
      {
        "type": "url",
        "id": "link_url",
        "label": "Link URL"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      }
    
      ],
      "blocks": [
      {
       "type": "block",
       "name": "Size",
       "limit": 5,
       "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Tab Title"
          },
          {
            "type": "product_list",
            "id": "products",
            "label": "Products",
          },
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          }
        ]
      }
    ],  
    "presets": [
      {
        "name": "Shop by size",
        "settings": {
        }
      }
    ]
  }
{% endschema %}