{{ 'section-text-media-carousel.css' | asset_url | stylesheet_tag }}

<section class="text-media-caorusel">
  <div class="text-media-carousel__inner">
    <div class="text-media-carousel__media-wrapper">
      <div class="text-media-carousel__media-inner swiper">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            <div class="swiper-slide text-media-carousel__image" data-controlled-by="{{ forloop.index }}">
              {% if block.settings.video != blank %}
                {{ block.settings.video | video_tag: autoplay: true, loop: true, muted: true, controls: false }}
              {% elsif block.settings.image != blank %}
                {% render 'lazy-image', image: block.settings.image, fade: true, fill: true %}
              {% endif %}
              <div class="text-media-carousel__media-label body-xs">{{ block.settings.media_label }}</div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="text-media-carousel__content-wrapper">
      <div class="text-media-carousel__content-inner">
        <h3 class="text-media-carousel__heading">{{ section.settings.heading }}</h3>

        <div class="text-media-carousel__text swiper">
          <div class="swiper-wrapper">
            {% for block in section.blocks %}
              <div class="swiper-slide" data-controlls="{{ forloop.index }}">
                <h2 class="text-media__heading">{{ block.settings.heading }}</h2>
                <p class="text-media__title">{{ block.settings.title }}</p>

                <p class="text-media__quote handwriting">{{ block.settings.text }}</p>

                <a href="{{ block.settings.link }}" class="text-link gold text-media__link">
                  {{- block.settings.link_text -}}
                  >
                </a>
              </div>
            {% endfor %}
          </div>

          <div class="swiper-pagination text-media-carousel__pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>

{% javascript %}
  const imageSwiper = new Swiper('.text-media-carousel__media-inner', {
    slidesPerView: 1,
  });

  const contentSwiper = new Swiper('.text-media-carousel__text', {
    slidesPerView: 1,
    pagination: {
      el: '.text-media-carousel__pagination',
      clickable: true,
    },
    controller: {
      control: imageSwiper,
    },
  });
{% endjavascript %}

{% schema %}
{
  "name": "Text Media Carousel",
  "settings": [
    {
      "type": "textarea",
      "id": "heading",
      "label": "Heading"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "textarea",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "textarea",
          "id": "title",
          "label": "Label"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Quote"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Link text"
        },
        {
          "type": "header",
          "content": "Media"
        },
        {
          "type": "textarea",
          "id": "media_label",
          "label": "Media Label"
        },
        {
          "type": "paragraph",
          "content": "Use only one media type"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "video",
          "id": "video",
          "label": "Video Upload"
        },
        {
          "type": "video_url",
          "id": "video_url",
          "label": "Video Url",
          "accept": ["youtube", "vimeo"]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Text Media Carousel"
    }
  ]
}
{% endschema %}
