{{ 'section-text-media-carousel.css' | asset_url | stylesheet_tag }}

{% assign media_slides = section.blocks | where: 'type', 'media' %}
{% assign text_slides = section.blocks | where: 'type', 'text' %}

<div class="text-media-carousel__inner text-media-carousel__color-{{ section.settings.color }}" id="{{ section.settings.anchor_link }}">
  <div class="text-media-carousel__media-wrapper">
    <div class="text-media-carousel__media-inner swiper">
      <div class="swiper-wrapper">
        {% for block in media_slides %}
          <div class="swiper-slide text-media-carousel__image text-media-carousel__image-alignment-{{ block.settings.image_alignment }}" data-controlled-by="{{ forloop.index }}">
            {% if block.settings.video != blank %}
              {{ block.settings.video | video_tag: autoplay: true, loop: true, muted: true, controls: false }}
            {% elsif block.settings.image != blank %}
              {% render 'lazy-image', image: block.settings.image, fade: true, fill: true %}
            {% endif %}

            {% if block.settings.media_label != blank %}
              <div class="text-media-carousel__media-label body-xs">{{ block.settings.media_label }}</div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      <div class="text-media-carousel__media-prev swiper-button-prev"></div>
      <div class="text-media-carousel__media-next swiper-button-next"></div>
    </div>
  </div>

  <div class="text-media-carousel__content-wrapper">
    <div class="text-media-carousel__content-inner">
      {% if section.settings.heading != blank %}
        <h3 class="text-media-carousel__heading">{{ section.settings.heading }}</h3>
      {% endif %}

      {% if section.settings.subhead != blank %}
      <p class="text-media-caorusel__subhead">{{ section.settings.subhead }}</p>
      {% endif %}

      <div class="text-media-carousel__text swiper">
        <div class="swiper-wrapper">
          {% for block in text_slides %}
            <div class="swiper-slide text-media-carousel__alignment--{{ block.settings.text_alignment }}" data-controlls="{{ forloop.index }}">
              {% if block.settings.heading != blank %}
                <h2 class="text-media__heading">{{ block.settings.heading | newline_to_br }}</h2>
              {% endif %}

              {% if block.settings.text != blank %}
                <p class="text-media__title">{{ block.settings.title | newline_to_br }}</p>
              {% endif %}

              {% if block.settings.text != blank %}
                <p class="text-media__quote {% if block.settings.handwriting %}handwriting{% else %}body{% endif %}">{{ block.settings.text }}</p>
              {% endif %}

              {% if block.settings.link != blank and block.settings.link_text != blank %}
                <a href="{{ block.settings.link }}" class="text-link gold text-media__link">
                  {{- block.settings.link_text -}}
                  >
                </a>
              {% endif %}
            </div>
          {% endfor %}
        </div>
        <div class="swiper-pagination text-media-carousel__pagination"></div>
      </div>
    </div>
  </div>
</div>

{% javascript %}
  const contentSwiper = new Swiper('.text-media-carousel__text', {
    slidesPerView: 1,
  });

  const imageSwiper = new Swiper('.text-media-carousel__media-inner', {
    slidesPerView: 1,
    pagination: {
      el: '.text-media-carousel__pagination',
      clickable: true,
    },
    navigation: {
        nextEl: '.text-media-carousel__media-next',
        prevEl: '.text-media-carousel__media-prev',
      },
    controller: {
      control: contentSwiper,
    },
  });
{% endjavascript %}

{% schema %}
{
  "name": "Text Media Carousel",
  "tag": "section",
  "class": "text-media-carousel",
  "settings": [
    {
      "type": "text",
      "id": "anchor_link",
      "label": "Anchor Link"
    },
    {
      "type": "textarea",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "subhead",
      "label": "Subhead"
    },
    {
      "type": "select",
      "id": "color",
      "label": "Color",
      "options": [
        {
          "label": "Dark",
          "value": "dark"
        },
        {
          "label": "Light",
          "value": "light"
        }
      ],
      "default": "dark"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text Slide",
      "settings": [
        {
          "type": "textarea",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "textarea",
          "id": "title",
          "label": "Label"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Quote"
        },
        {
          "type": "checkbox",
          "id": "handwriting",
          "label": "Handwritten font",
          "default": true
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Link text"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Mobile text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    },
    {
      "type": "media",
      "name": "Media Slide",
      "settings": [
        {
          "type": "textarea",
          "id": "media_label",
          "label": "Media Label"
        },
        {
          "type": "paragraph",
          "content": "Use only one media type"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "image_alignment",
          "label": "Image alignment",
          "options": [
            {
              "label": "Top",
              "value": "top"
            },
            {
              "label": "Center",
              "value": "center"
            },
            {
              "label": "Bottom",
              "value": "bottom"
            }
          ],
          "default": "center"
        },
        {
          "type": "video",
          "id": "video",
          "label": "Video Upload"
        },
        {
          "type": "video_url",
          "id": "video_url",
          "label": "Video Url",
          "accept": ["youtube", "vimeo"]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Text Media Carousel"
    }
  ]
}
{% endschema %}
