{{ 'section-hero.css' | asset_url | stylesheet_tag }}

<div class="hero video-with-text">
  <div class="hero__content">
    <div class="hero__container">
      <h4 class="hero__title">{{ section.settings.title }}</h4>
      <p>{{ section.settings.sub-text }}</p>
      <div class="content-section">
        {{ section.settings.content }}
      </div>
    </div>
  </div>

  <div class="hero__media">
    {% if section.settings.video != blank %}
        {{ section.settings.video | video_tag: autoplay: false, loop: false, muted: true, controls: false, class: 'videos' }}
    {% endif %}
    <div class="hero__element">
      <svg xmlns="http://www.w3.org/2000/svg" width="45" height="50" viewBox="0 0 45 50" fill="none">
<path d="M42.9214 21.5359C45.5881 23.0755 45.5881 26.9245 42.9214 28.4641L6.92138 49.2487C4.25472 50.7883 0.921387 48.8638 0.921387 45.7846L0.921387 4.21539C0.921387 1.13619 4.25472 -0.788311 6.92139 0.751289L42.9214 21.5359Z" fill="white"/>
</svg>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
  $('.videos').parent().click(function () {
      if($(this).children(".videos").get(0).paused){
        $(this).children(".videos").get(0).play();   
        $(this).children(".hero__element").fadeOut();
      }else{       
        $(this).children(".videos").get(0).pause();
        $(this).children(".hero__element").fadeIn();
      }
  });
</script>

{% schema %}
{
  "name": "Video with text",
  "class": "video-text",
  "settings": [
    {
      "type": "header",
      "content": "Video"
    },
    {
      "type": "video",
      "id": "video",
      "label": "Video (default media if populated)"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "textarea",
      "id": "sub-text",
      "label": "Content"
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "List Section"
    }
  ],
  "presets": [
    {
      "name": "Video with text"
    }
  ]
}
{% endschema %}

<style>
  .video-with-text .hero__element{
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    width: auto;
    cursor: pointer;
  }

  .video-text .hero__content .hero__container .hero__title{
      font-size: 56px;
      font-style: normal;
      font-weight: 500;
      line-height: 62px; /* 110.714% */
      letter-spacing: 1.12px;
       font-family: louize;
       position:relative;
  }

    .video-text .hero__content .hero__container .hero__title:before{
        content: '';
       background: #D2B066;
      position:absolute;
       width: 159px;
       height: 4px;
      bottom: -9px;
    }

   .video-text .hero__content .hero__container p{
       font-family: brandon;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; /* 140% */
   }

  .video-text .hero__content .hero__container .content-section li{
      position:relative;
      font-family: brandon;
      font-size: 16px;
      font-style: normal;
      font-weight: 420;
      line-height: 28px; /* 175% */
      margin-bottom:10px;
  }
  .video-text .hero__container{
     border:none !important;
  }
  .video-text .hero__content .hero__container .content-section li::marker{
     display:none !important;
     color:#546B82;
  }

   .video-text .hero__content .hero__container .content-section li:before{
       content:'';
       position:absolute;
       width: 9px;
       height:9px;
       background:transparent;
       left: -19px;
       border: 1.5px solid #D2B066;
       transform: rotate(-45deg);
       bottom: 8px;
   }

   .video-text .hero__content .hero__container .content-section{
      margin-left: -15px;
   }

  @media screen and (min-width: 1200px){
    .hero.video-with-text{
      grid-template-columns:1fr 1fr;
    }
  }
</style>

